.header-icon {
  margin-top: -0.17em;
  height: 3rem;
}

.made-at {
  color: #999999;
  margin-left: 1em;
}

.author {
  font-weight: bold;
  font-size: 0.9rem;
}
.comment-author {
  margin-bottom: 0.85em;
}
