@import "src/styles";

.header-icon {
  margin-top: -0.17em;
  height: 3rem;
}

.made-at {
  color: #999999;
  margin-left: 1em;
}

.author {
  font-weight: bold;
  font-size: 0.9rem;
}

.comment-author {
  margin-bottom: 0.85em;
}

.textarea-section {
  background-color: $dark-strip;
  padding: 1em;
}

.textarea {
  margin-bottom: 0.5em;
}

.input-comment {
  grid-template-columns: 60% 5%;
  column-gap: 1em;
}

.send-cancel {
  display: grid;
}
