<table class="table is-bordered is-fullwidth">
  <thead>
    <tr class="headers">
      <th colspan="3" class="has-text-centered">Polarimetry</th>
    </tr>
    <tr class="secondary-header">
      <th>Mode</th>
      <th>Beam Splitter OrientationP</th>
      <th>Pattern Name</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td>{{configuration.configuration.mode}}</td>
      <td>{{ beamSplitterOrientation }}</td>
      <td>{{ pattern.name }}</td>
    </tr>
  </tbody>
  <thead>
    <tr class="secondary-header">
      <th>#</th>
      <th>Half-Wave Pattern</th>
      <th>Quarter-Wave Pattern</th>
    </tr>
  </thead>
  <tbody>
  <tr *ngFor="let p of pattern.wavePlateAngles; let i = index">
    <td>{{ i }}</td>
    <td>
      <p class="is-pulled-right">{{ p.halfWave }}</p>
    </td>
    <td>
      <p class="is-pulled-right">{{ p.quarterWave }}</p>
    </td>
  </tr>
  </tbody>
</table>

