<div>
  <table class="table">
    <thead>
      <tr class="secondary-header">
        <th colspan="3" class="has-text-centered">{{ pattern.name }}</th>
      </tr>
      <tr>
        <th>#</th>
        <th>Half-Wave Pattern</th>
        <th>Quarter-Wave Pattern</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let p of pattern.wavePlateAngles; let i = index">
        <td>{{ i }}</td>
        <td>{{ p.halfWave }}</td>
        <td>{{ p.quarterWave }}</td>
      </tr>
    </tbody>
  </table>
</div>
