<wm-modal
  [title]="modalTitle"
  [loading]="loading"
  [isModalActive]="isModalActive"
  [error]="error"
  (closeModal)="closeModal()"
  (submitContent)="submitBlockVisitStatus()"
  data-test="block-visit-status-modal"
>
  <div
    [formGroup]="editBlockVisitStatusForm"
    (ngSubmit)="submitBlockVisitStatus()"
  >
    <div class="form-group input-section">
      <label class="label">Block visit status</label>
      <select
        #status
        (ngModelChange)="clearError()"
        formControlName="blockVisitStatus"
        (change)="onBlockVisitStatusSelect(status.value)"
        data-test="block-visit-status-value"
      >
        <option selected="selected" disabled="disabled" value="null">
          Please select a status
        </option>
        <option value="Accepted">Accepted</option>
        <option value="Rejected">Rejected</option>
      </select>
    </div>
    <div *ngIf="f.blockVisitStatus.value === 'Rejected'">
      <div class="form-group input-section">
        <label class="label">Block rejection reason</label>
        <select
          (ngModelChange)="clearError()"
          formControlName="rejectionReason"
          data-test="block-rejection-reason"
        >
          <option selected="selected" disabled="disabled" value="null">
            Please select a reason
          </option>
          <option value="Instrument technical problems">
            Instrument technical problems
          </option>
          <option value="Observing conditions not met">
            Observing conditions not met
          </option>
          <option value="Telescope technical problems">
            Telescope technical problems
          </option>
          <option value="Other">Other</option>
        </select>
        <div
          *ngIf="f.rejectionReason.touched && editBlockVisitStatusForm.errors?.['required']"
          class="invalid-feedback"
        >
          <div class="has-text-danger" data-test="error">
            The block rejection reason is required
          </div>
        </div>
      </div>
    </div>
  </div>
</wm-modal>
