.label,
select,
input {
  font-size: 1rem;
}

.label {
  padding-top: 1rem;
}

select {
  background-color: white;
  height: 22px;
  align-content: center;
}

input {
  padding-bottom: 0;
}

.input-section {
  width: 300px;
  padding: 0;
  margin-bottom: 20px;
}
