<div>
  <div class="table alternate-background">
    <div class="row secondary-header ">
      <div class="has-text-centered ">
        Probability <a class="has-text-link">(How are these calculated?)</a>
      </div>
    </div>
    <div class="row has-two-columns"><div>Moon prob</div><div>Not calculated yet</div></div>
    <div class="row has-two-columns"><div>Competition prob</div><div>Not calculated yet</div></div>
    <div class="row has-two-columns"><div>Observability prob</div><div>Not calculated yet</div></div>
    <div class="row has-two-columns"><div>Seeing prob</div><div>Not calculated yet</div></div>
    <div class="row has-two-columns"><div>Average ranking</div><div>Not calculated yet</div></div>
    <div class="row has-two-columns"><div>Total prob</div><div>Not calculated yet</div></div>
  </div>
</div>
