<wm-modal
  [title]="modalTitle"
  [isModalActive]="isModalActive"
  [loading]="loading"
  (submitContent)="submitProprietaryPeriod()"
  (closeModal)="closeModal()"
  [error]="error"
  [warning]="userMessage"
>
  <div>
    <div class="control">
      <label class="label">Proprietary period (months):</label>
      <input
        #proprietaryPeriodInput
        class="input"
        [ngClass]="error ? 'is-danger' : ''"
        type="text"
        [value]="proprietaryPeriod.period"
        (change)="updateProprietaryPeriod(proprietaryPeriodInput.value)"
      />
      <ng-container>
        <p class="info-text has-text-info-dark is-small">
          The motivation is only required when the proprietary period is longer
          than {{ proprietaryPeriod.maximumPeriod }} months.
        </p>
        <label class="label">Motivation:</label>
        <textarea
          #motivationInput
          class="textarea"
          [ngClass]="error ? 'is-danger' : ''"
          [value]="proprietaryPeriod.motivation || ''"
          (change)="updateMotivation(motivationInput.value)"
        >
        </textarea>
      </ng-container>
    </div>
  </div>
</wm-modal>
