<div *ngIf="isModalActive && proprietaryPeriod">
  <div class="modal" [ngClass]="isModalActive ? 'is-active' : ''">
    <div class="modal-background" (click)="closeModal()"></div>
    <div class="modal-card">
      <div>
        <header class="modal-card-head">
          <p class="modal-card-title">Edit proprietary period</p>
          <button
            class="delete"
            aria-label="close"
            (click)="closeModal()"
          ></button>
        </header>
        <section class="modal-card-body">
          <div class="control">
            <label class="label">Proprietary period (months):</label>
            <input
              #proprietaryPeriodInput
              class="input"
              [ngClass]="error ? 'is-danger' : ''"
              type="text"
              [value]="proprietaryPeriod.period"
              (change)="updateProprietaryPeriod(proprietaryPeriodInput.value)"
            />
            <ng-container>
              <p class="info-text has-text-info-dark is-small">
                The motivation is only required when the proprietary period is
                longer than {{ proprietaryPeriod.maximumPeriod }} months.
              </p>
              <label class="label">Motivation:</label>
              <textarea
                #motivationInput
                class="textarea"
                [ngClass]="error ? 'is-danger' : ''"
                [value]="proprietaryPeriod.motivation || ''"
                (change)="updateMotivation(motivationInput.value)"
              >
              </textarea>
            </ng-container>
            <p class="invalid-feedback is-large">{{ error }}</p>
          </div>
        </section>
        <section class="modal-card-body">
          <div class="is-grouped">
            <div class="control">
              <button
                (click)="submitProprietaryPeriod()"
                class="button is-primary"
              >
                Submit
              </button>
            </div>
            <div class="control">
              <button (click)="closeModal()" class="button is-danger">
                Cancel
              </button>
            </div>
          </div>
        </section>
      </div>
    </div>
    <button
      class="modal-close is-large"
      aria-label="close"
      (click)="closeModal()"
    ></button>
  </div>
</div>
