<h2 class="title is-2">Summary of executed observations</h2>
<hr class="heading-line summary-header" />
<div class="table alternate-background">
  <div class="summary-row headers row">
    <div>Block</div>
    <div>Observation time</div>
    <div>Priority</div>
    <div>Max Lunar Phase</div>
    <div>Target(s)</div>
    <div>Observation date</div>
    <div>Accepted?</div>
    <div>Rejection reason</div>
    <div>Edit</div>
    <div>Data</div>
  </div>
  <div class="select-all-row row">
    <div></div>
    <div class="">
      <label class="checkbox">
        <input
          #toggleSelectionAll
          type="checkbox"
          [checked]="selectAll"
          (change)="selectDeselectAll(toggleSelectionAll.checked)"
          data-testid="select-all-observations-checkbox"
        />
        Select/Deselect all
      </label>
    </div>
  </div>
  <div *ngFor="let e of observations">
    <div class="summary-row row">
      <div>
        {{ e.block_identifier.name }}
        <span>(view details)</span>
      </div>
      <div>{{ e.observation_time }}</div>
      <div>{{ e.priority }}</div>
      <div>{{ e.maximum_lunar_phase }}</div>
      <div class="targets-container">
        <div *ngFor="let t of e.targets">
          <div>
            <span>{{ t }}</span>
          </div>
        </div>
      </div>
      <div>{{ e.observation_date.toISOString().split("T")[0] }}</div>
      <div *ngIf="e.accepted" class="is-green">
        <img
          class="icon"
          src="/assets/icons/noun_tick_2836262-green.svg"
          alt="block is accepted"
        />
      </div>
      <div *ngIf="!e.accepted">
        <img
          class="icon"
          src="/assets/icons/noun_Cross_2120375.svg"
          alt="block is rejected"
        />
      </div>
      <div>{{ e.rejection_reason }}</div>
      <div *ngIf="e.accepted">
        <button class="button is-danger is-small">Reject</button>
      </div>
      <div *ngIf="!e.accepted">
        <button class="button is-success is-small">Accept</button>
      </div>
      <div>
        <label class="checkbox">
          <input
            type="checkbox"
            [checked]="e.download_observation"
            (change)="toggleRequestData(e.observation_id)"
            data-testid="download-observation-checkbox"
          />
          Request data
        </label>
      </div>
    </div>
  </div>
</div>
