<h2 class="title is-2">Investigators</h2>
<hr class="heading-line investigators-header">

<div class="table alternate-background">
  <div class="investigator-row headers row">
    <div>PC</div>
    <div>PI</div>
    <div>Name</div>
    <div>Partner</div>
    <div>Institution</div>
    <div>Department</div>
    <div></div>
  </div>
  <div *ngFor="let i of investigators">
    <div
      class="investigator-row row"
      [class.is-green-background]="accepted(i) === true"
      [class.is-red-background]="accepted(i) === false"
    >
      <div *ngIf="i.is_pc">
        <img
          class="icon"
          src="/assets/icons/noun_tick_2836262.svg"
          alt="is proposal contact."
        />
      </div>
      <div *ngIf="!i.is_pc"></div>
      <div *ngIf="i.is_pi">
        <img
          class="icon"
          src="/assets/icons/noun_tick_2836262.svg"
          alt="is principal investigator."
        />
      </div>
      <div *ngIf="!i.is_pi"></div>
      <div>{{ i.name }}</div>
      <div>{{ i.partner.name }}</div>
      <div>{{ i.partner.institute }}</div>
      <div>{{ i.partner.department }}</div>
      <!-- TODO: Replace with correct code -->
      <ng-template [ngIf]="accepted(i) === true">
        <div><button class="button is-danger is-small">Reject</button></div>
      </ng-template>
      <ng-template [ngIf]="accepted(i) === false">
        <div><button class="button is-success is-small">Accept</button></div>
      </ng-template>
      <ng-template [ngIf]="accepted(i) === null">
        <div class="accept-reject">
          <div><button class="button is-success is-small">Accept</button></div>
          <div><button class="button is-danger is-small">Reject</button></div>
        </div>
      </ng-template>
    </div>
  </div>
</div>
