<h2 class="title is-4">Investigators</h2>

<div class="table alternate-background">
  <div class="investigator-row headers row">
    <div>PC</div>
    <div>PI</div>
    <div>Name</div>
    <div>Partner</div>
    <div>Institution</div>
    <div>Department</div>
    <div>Accept</div>
  </div>
  <div *ngFor="let i of investigators">
    <div class="investigator-row row">
      <div *ngIf="i.is_pc">
        <img
          class="icon"
          src="/assets/icons/noun_tick_2836262.svg"
          alt="is proposal contact."
        />
      </div>
      <div *ngIf="!i.is_pc"></div>
      <div *ngIf="i.is_pi">
        <img
          class="icon"
          src="/assets/icons/noun_tick_2836262.svg"
          alt="is principal investigator."
        />
      </div>
      <div *ngIf="!i.is_pi"></div>
      <div>{{ i.name }}</div>
      <div>{{ i.partner.name }}</div>
      <div>{{ i.partner.institute }}</div>
      <div>{{ i.partner.department }}</div>
      <!-- TODO: Replace with correct code -->
      <ng-template [ngIf]="i.is_pi">
        <div><button class="button is-danger is-small">Reject</button></div>
      </ng-template>
      <ng-template [ngIf]="!i.is_pi">
        <div><button class="button is-primary is-small">Accept</button></div>
      </ng-template>
    </div>
  </div>
</div>
