<div class="table">
  <div class="row secondary-header has-two-columns">
    <div class="has-text-centered">General</div>
    <div class="has-text-centered">Coordinates</div>
  </div>
  <div class="row headers target-table">
    <div>Name</div>
    <div>Type</div>
    <div>Equinox</div>
    <div>Magnitude</div>
    <div>RA</div>
    <div>Dec</div>
  </div>
  <div class="row target-table">
    <div>{{target.name}}</div>
    <div>{{target.type}}</div>
    <div>{{target.equinox}}</div>
    <div>{{target.magnitude}}</div>
    <div>{{target.declination}}</div>
    <div>{{target.rightAscension}}</div>
  </div>
</div>
