.thirty-ten {
  grid-template-columns: 30% 10%;
  align-items: center;
}
.has-two-columns {
  align-items: center;
}
.thirty-seventy {
  grid-template-columns: 30% 70%;
}
.file {
  align-items: center;
}
.file-dis {
  padding-right: 1em;
}

.file-info {
  font-weight: bold;
  padding-bottom: 1em;
}
.file-label {
  padding-right: 1em;
}
.title {
  margin-top: 0.5rem;
  margin-bottom: 0.5rem;
}
