[flake8]
docstring-convention = numpy
exclude = .git, .tox, __pycache__, .venv
max-line-length = 88
per-file-ignores =
    saltapi/repository/block_repository.py:E501
    saltapi/repository/proposal_repository.py:E501
    saltapi/web/api/*.py:E501
    saltapi/web/schema/*.py:E501
    tests/conftest.py:E402
    saltapi/service/create_proposal_progress_html.py:E501
