<h2 class="title is-3">
  RSS {{ payloadConfiguration.payloadConfigurationType }} Configuration
</h2>
<hr class="heading-line rss-header-config-color" />
<div class="inline-view">
  <wm-rss-general-info [rss]="rss"></wm-rss-general-info>
  <wm-rss-detector [detector]="rss.detector"></wm-rss-detector>
  <wm-rss-spectroscopy
    *ngIf="rss.configuration.spectroscopy"
    [spectroscopy]="rss.configuration.spectroscopy"
    [filter]="rss.configuration.filter"
  ></wm-rss-spectroscopy>
  <wm-imaging
    *ngIf="
      rss.configuration.mode === 'Polarimetric imaging' ||
      rss.configuration.mode === 'Imaging'
    "
    [filter]="rss.configuration.filter"
  ></wm-imaging>
  <wm-fabry-perot
    *ngIf="rss.configuration.fabryPerot"
    [filter]="rss.configuration.filter"
    [mode]="rss.configuration.fabryPerot.mode"
  ></wm-fabry-perot>
  <wm-rss-calibration
    *ngIf="payloadConfiguration.lamp"
    [filter]="payloadConfiguration.calibrationFilter"
    [lamp]="payloadConfiguration.lamp"
  ></wm-rss-calibration>
  <wm-rss-slit-mask
    *ngIf="rss.configuration.mask"
    [slitMask]="rss.configuration.mask"
  ></wm-rss-slit-mask>
  <wm-arc-bible
    *ngIf="payloadConfiguration.lamp && rss.arcBibleEntries.length > 0"
    [arcBibleEntries]="rss.arcBibleEntries"
  ></wm-arc-bible>
  <wm-polarimetry
    *ngIf="rss.configuration.polarimetry && rss.procedure.polarimetryPattern"
    [pattern]="rss.procedure.polarimetryPattern"
    [beamSplitterOrientation]="
      rss.configuration.polarimetry.beamSplitterOrientation
    "
  ></wm-polarimetry>
  <wm-etalon-wavelengths
    *ngIf="rss.procedure.etalonWavelengths"
    [etalonConfiguration]="rss.procedure.etalonWavelengths"
  ></wm-etalon-wavelengths>
</div>
