<div id="proposal-progress">
  <h2 class="title is-2">Proposal Progress</h2>
  <hr class="heading-line proposal-progress-header" />
  <div *ngIf="currentProgressReportExists; else noCurrentProgressReport">
    <div>
      <a
        class="has-text-link"
        href="{{
          apiUrl +
            '/progress/' +
            proposal.proposalCode +
            '/' +
            currentSemester +
            '/report.pdf'
        }}"
      >
        View the progress report as pdf
      </a>
    </div>
  </div>
  <ng-template #noCurrentProgressReport>
    <table class="table">
      <thead>
        <tr>
          <th>No progress report has been submitted yet.</th>
        </tr>
      </thead>
    </table>
  </ng-template>
  <div *ngIf="showForm" class="progress-report-view">
    <wm-progress-request-form
      [proposal]="proposal"
      [progressReport]="proposalProgress"
      (successfulSubmission)="onSuccessfulSubmission($event)"
    ></wm-progress-request-form>
  </div>
  <div class="edit-button">
    <button *ngIf="showForm" class="button" (click)="closeForm()">
      Close Edit
    </button>
    <button
      *ngIf="!showForm"
      class="button"
      [class.loading]="loading"
      (click)="showProgressReportForm()"
    >
      Edit
    </button>
  </div>
  <div *ngIf="progressReports.length > 0">
    <a
      data-test="other-reports-links"
      href="javascript:void(0)"
      (click)="onClick()"
      >{{ reportsLinksText }}</a
    >
    <div *ngIf="showReports">
      <ul>
        <li *ngFor="let u of progressReportsUrlsMap(progressReports)">
          <a class="has-text-link" href="{{ u.url }}">
            View the progress report for semester {{ u.semester }}
          </a>
        </li>
      </ul>
    </div>
  </div>
</div>
