@import "src/styles";

.progress-report-view {
  border: 1px solid $table-border-color;
  background-color: #eeeeee;
  padding: 1rem;
}
.edit-button {
  padding: 1rem;
}

li {
  list-style-type: disc;
  margin-left: 3rem;
  padding-top: 0.5rem;
}
