<div>
  <table class="table">
    <tr class="secondary-header">
      <th colspan="2" class="has-text-centered">Details</th>
    </tr>
    <tbody>
      <tr>
        <th>Status</th>
        <td>{{ generalProposalInfo.status.value }}</td>
      </tr>
      <tr *ngIf="generalProposalInfo.status.comment">
        <th>Status comment</th>
        <td>{{ generalProposalInfo.status.comment }}</td>
      </tr>
      <tr>
        <th>Target of Opportunity</th>
        <td *ngIf="generalProposalInfo.isTargetOfOpportunity">
          <div>
            <img
              class="icon is-small"
              src="/assets/icons/noun_tick_2836262-green.svg"
              alt="Is target of opportunity"
            />
          </div>
        </td>
        <td *ngIf="!generalProposalInfo.isTargetOfOpportunity">
          <div>
            <img
              class="icon is-small"
              src="/assets/icons/noun_Cross_2120375.svg"
              alt="Is not target of opportunity"
            />
          </div>
        </td>
      </tr>
      <tr>
        <th>Time Restricted</th>
        <td *ngIf="generalProposalInfo.isTimeRestricted">
          <div>
            <img
              class="icon is-small"
              src="/assets/icons/noun_tick_2836262-green.svg"
              alt="Is target of opportunity"
            />
          </div>
        </td>
        <td *ngIf="!generalProposalInfo.isTimeRestricted">
          <div>
            <img
              class="icon is-small"
              src="/assets/icons/noun_Cross_2120375.svg"
              alt="Is not target of opportunity"
            />
          </div>
        </td>
      </tr>
      <tr>
        <th>Priority 4</th>
        <td *ngIf="generalProposalInfo.isP4">
          <div>
            <img
              class="icon is-small"
              src="/assets/icons/noun_tick_2836262-green.svg"
              alt="Is target of opportunity"
            />
          </div>
        </td>
        <td *ngIf="!generalProposalInfo.isP4">
          <div>
            <img
              class="icon is-small"
              src="/assets/icons/noun_Cross_2120375.svg"
              alt="Is not target of opportunity"
            />
          </div>
        </td>
      </tr>
      <tr>
        <th>Total time</th>
        <td>{{ generalProposalInfo.totalRequestedTime }}</td>
      </tr>
    </tbody>
  </table>
</div>
