<h2 class="title is-3">
  Bvit {{ payloadConfiguration.payloadConfigurationType }} Configuration
</h2>
<hr class="heading-line bvit-header" />
<table>
  <thead>
    <tr class="headers">
      <td colspan="5" class="has-text-centered">General</td>
    </tr>
    <tr>
      <th>Mode</th>
      <th>Iris size</th>
      <th>Filter</th>
      <th>Neutral Density</th>
      <th>Shutter open time</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td>{{ bvit.mode }}</td>
      <td>{{ bvit.irisSize }}</td>
      <td>{{ bvit.filter }}</td>
      <td>{{ bvit.neutralDensity }}</td>
      <td>{{ bvit.shutterOpenTime }} sec</td>
    </tr>
  </tbody>
</table>
