<div>
  <table class="table">
    <thead>
      <tr class="secondary-header">
        <th colspan="7" class="has-text-centered">Time Allocation (seconds)</th>
      </tr>
      <tr>
        <th>Partner</th>
        <th>Priority 0</th>
        <th>Priority 1</th>
        <th>Priority 2</th>
        <th>Priority 3</th>
        <th>Priority 4</th>
        <th>TAC Comment</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let a of time_allocations">
        <td>{{ a.partnerName }}</td>
        <td>{{ a.priority0 }}</td>
        <td>{{ a.priority1 }}</td>
        <td>{{ a.priority2 }}</td>
        <td>{{ a.priority3 }}</td>
        <td>{{ a.priority4 }}</td>
        <td *ngIf="!!a.tacComment">
          <span class="has-text-link" tooltip="{{ a.tacComment }}">
            Show comment
          </span>
        </td>
        <td *ngIf="!a.tacComment">
          <span>No comment</span>
        </td>
      </tr>
    </tbody>
  </table>
</div>
