<h2 class="title is-2">Investigators</h2>
<hr class="heading-line investigators-header" />
<table class="table">
  <thead>
    <tr class="headers">
      <th>PI</th>
      <th>PC</th>
      <th>Name</th>
      <th>Partner</th>
      <th>Institution</th>
      <th>Department</th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <tr
      *ngFor="let i of investigators"
      [class.is-green-background]="i.hasApprovedProposal === true"
      [class.is-red-background]="i.hasApprovedProposal === false"
    >
      <td *ngIf="i.isPi">
        <div>
          <img
            class="icon"
            src="/assets/icons/noun_tick_2836262.svg"
            alt="is principal investigator."
          />
        </div>
      </td>
      <td *ngIf="!i.isPi"></td>
      <td *ngIf="i.isPc">
        <div>
          <img
            class="icon"
            src="/assets/icons/noun_tick_2836262.svg"
            alt="is proposal contact."
          />
        </div>
      </td>
      <td *ngIf="!i.isPc"></td>
      <td>{{ i.givenName + " " + i.familyName }}</td>
      <td>{{ i.affiliation.partnerName }}</td>
      <td>{{ i.affiliation.institution }}</td>
      <td>{{ i.affiliation.department }}</td>
      <!-- TODO: Replace with correct code -->
      <ng-template [ngIf]="i.hasApprovedProposal === true">
        <td>
          <div><button class="button is-danger is-small">Reject</button></div>
        </td>
      </ng-template>
      <ng-template [ngIf]="i.hasApprovedProposal === false">
        <td>
          <div><button class="button is-success is-small">Accept</button></div>
        </td>
      </ng-template>
      <ng-template [ngIf]="i.hasApprovedProposal === null || undefined">
        <td class="accept-reject">
          <div><button class="button is-success is-small">Accept</button></div>
          <div><button class="button is-danger is-small">Reject</button></div>
        </td>
      </ng-template>
    </tr>
  </tbody>
</table>
