<div *ngIf="nirSpectroscopy">
  <table class="table">
    <tr class="secondary-header">
      <th colspan="4" class="has-text-centered">Spectroscopy</th>
    </tr>
    <tr *ngIf="filter !== 'EMPTY'">
      <th>Filter</th>
      <td colspan="3">{{ filter }}</td>
    </tr>
    <tr class="double-boarder">
      <th>Grating</th>
      <td>{{ nirSpectroscopy.grating }}</td>
      <th>Grating angle</th>
      <td>{{ nirSpectroscopy.gratingAngle | number: "1.2-2" }}&#176;</td>
    </tr>
    <tr class="double-boarder">
      <th>Camera station</th>
      <td>{{ nirSpectroscopy.cameraStation }}</td>
      <th>Camera angle</th>
      <td>{{ nirSpectroscopy.cameraAngle | number: "1.2-2" }}&#176;</td>
    </tr>
  </table>
</div>
