<h2 class="title is-2">Observation</h2>
<hr class="heading-line observation-header" />
<div>
  <table class="table is-bordered">
    <thead>
      <tr class="has-text-centered secondary-header">
        <th>Pointing</th>
        <th colspan="3">Acquisition</th>
        <th colspan="2">Configurations</th>
        <th colspan="3">Pipeline Config</th>
        <th colspan="3">Observation Times</th>
      </tr>
      <tr>
        <th>Min Useful Time</th>
        <th>Target</th>
        <th>Payload/Instrument Configuration</th>
        <th>Position Angle(s)</th>
        <th>Constraints</th>
        <th>Payloads</th>
        <th>Data Access Method</th>
        <th>Doc Format</th>
        <th></th>
        <th>Shutter Open Time (seconds)</th>
        <th>Overhead (seconds)</th>
        <th>Charged (seconds)</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td>To discuss sec</td>
        <td>{{ observation.target.name }}</td>
        <td>To discuss</td>
        <td>{{ positionAngles.join(" ") }}&#176;</td>
        <!--        TODO this values shouldn't be hard coded-->
        <td>n/a</td>
        <td>n/a</td>
        <td>To discuss</td>
        <td>n/a</td>
        <td class="has-text-centered">
          <button class="button is-small">edit</button>
        </td>
        <td class="has-text-right">
          {{ observation.observationTime - observation.overheadTime }}
        </td>
        <td class="has-text-right">{{ observation.overheadTime }}</td>
        <td class="has-text-right">{{ observation.observationTime }}</td>
      </tr>
    </tbody>
  </table>

  <table class="table">
    <thead>
      <tr class="secondary-header">
        <th colspan="2" class="has-text-centered">
          Finding charts ({{
            firstValidFrom | dfnsFormat: "d MMMM yyyy H:mm"
          }}
          to {{ lastValidUntil | dfnsFormat: "d MMMM yyyy H:mm" }})
        </th>
      </tr>
      <tr>
        <th>Chart</th>
        <th class="has-text-left">Comment</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let c of observation.finderCharts">
        <td>
          <a href="{{ originalFinderChartURL(c) }}">
            <img
              src="{{ thumbnailFinderChartURL(c) }}"
              alt="Finding chart"
              class="image is-128x128"
            />
          </a>
        </td>
        <td>
          <p
            *ngIf="c.comment; then comment; else noComment"
            [innerHTML]="c.comment | nl2br"
          ></p>
          <ng-template #comment
            ><p *ngIf="c.comment" [innerHTML]="c.comment | nl2br"></p
          ></ng-template>
          <ng-template #noComment><p #noneText>None</p></ng-template>
        </td>
      </tr>
    </tbody>
  </table>
</div>

<h2 class="title is-2">Target - {{ observation.target.name }}</h2>
<hr class="heading-line target-header" />

<wm-target [target]="observation.target"></wm-target>

<div *ngFor="let tc of observation.telescopeConfigurations; index as tc_index">
  <div *ngIf="observation.telescopeConfigurations.length > 1">
    <h2 class="title is-2">Telescope Configuration #{{ tc_index + 1 }}</h2>
    <hr class="heading-line telescope-configuration-header" />
  </div>

  <wm-payload
    *ngFor="let pc of tc.payloadConfigurations; index as pc_index"
    [telescopeConfiguration]="tc"
    [payloadConfigurationIndex]="pc_index"
  ></wm-payload>
</div>
