<h2 class="title is-2">Observation</h2>
<hr class="heading-line observation-header" />
<div class="table alternate-background">
  <div class="row secondary-header payload-main-headers has-right-border">
    <div class="has-text-centered">Pointing</div>
    <div class="has-text-centered">Acquisition</div>
    <div class="has-text-centered">Configurations</div>
    <div class="has-text-centered">Pipeline Config</div>
    <div class="has-text-centered">Observation Times</div>
  </div>
  <div class="row headers payload-table-row">
    <div>Position Angles</div>
    <div>Constraints</div>
    <div>Data Access Method</div>
    <div>Doc format</div>
    <div></div>
    <div>Shutter Open Time</div>
    <div>Overhead</div>
    <div>Charged</div>
  </div>
  <div class="row payload-table-row">
    <div>{{ positionAngles.join(" ") }}&#176;</div>
    <div>n/a</div>
    <div>n/a</div>
    <div>n/a</div>
    <div class="has-text-centered">
      <button class="button is-small">edit</button>
    </div>
    <div>{{ observation.observationTime - observation.overheadTime }} sec</div>
    <div>{{ observation.overheadTime }} sec</div>
    <div>{{ observation.observationTime }} sec</div>
  </div>

  <div class="row secondary-header">
    <div class="has-text-centered">
      Finding charts ({{ firstValidFrom | dfnsFormat: "d MMMM yyyy H:mm" }} to
      {{ lastValidUntil | dfnsFormat: "d MMMM yyyy H:mm" }})
    </div>
  </div>
  <div class="row headers finder-chart-row">
    <div>Chart</div>
    <div>Comment</div>
  </div>
  <div *ngFor="let c of observation.finderCharts">
    <div class="row finder-chart-row">
      <div>
        <img
          src="/assets/noun_Night_771441.png"
          alt="Finding chart"
          class="image is-128x128"
        />
      </div>
      <div><p *ngIf="c.comment" [innerHTML]="c.comment | nl2br"></p></div>
    </div>
  </div>
</div>

<h2 class="title is-2">Target - {{ observation.target.name }}</h2>
<hr class="heading-line target-header" />

<wm-target [target]="observation.target"></wm-target>

<div *ngFor="let tc of observation.telescopeConfigurations; index as tc_index">
  <div *ngIf="observation.telescopeConfigurations.length > 1">
    <h2 class="title is-2">Telescope Configuration #{{ tc_index + 1 }}</h2>
    <hr class="heading-line telescope-configuration-header" />
  </div>

  <wm-payload
    *ngFor="let pc of tc.payloadConfigurations; index as pc_index"
    [telescopeConfiguration]="tc"
    [payloadConfigurationIndex]="pc_index"
  ></wm-payload>
</div>
