<h2 class="title is-2">Block Summary</h2>
<hr class="heading-line blocks-header" />

<div class="checkboxes">
  <label for="filter-completed"
    ><input
      type="checkbox"
      id="filter-completed"
      (change)="filterByCompleted()"
      [checked]="filteredByCompleted"
    />
    Hide completed blocks
  </label>
  <label for="filter-unobservable"
    ><input
      type="checkbox"
      id="filter-unobservable"
      (change)="filterByUnobservable()"
      [checked]="filteredByUnobservable"
    />
    Hide blocks that cannot be observed any longer
  </label>
</div>

<br />

<div class="table is-table alternate-background">
  <div class="block-row headers is-info row">
    <div
      [ngClass]="sortableColumnClass('id')"
      (click)="onColumnClick($event, 'id')"
      data-testid="block-summary-id"
    >
      Block ID
    </div>
    <div
      [ngClass]="sortableColumnClass('name')"
      (click)="onColumnClick($event, 'name')"
      data-testid="block-summary-name"
    >
      Block
    </div>
    <div
      [ngClass]="sortableColumnClass('observationTime')"
      (click)="onColumnClick($event, 'observationTime')"
      data-testid="block-summary-observation-time"
    >
      ObsTime
    </div>
    <div
      [ngClass]="sortableColumnClass('priority')"
      (click)="onColumnClick($event, 'priority')"
      data-testid="block-summary-priority"
    >
      Priority
    </div>
    <div>Done Visits</div>
    <div>Tonight?</div>
    <div
      [ngClass]="sortableColumnClass('remainingNights')"
      (click)="onColumnClick($event, 'remainingNights')"
      data-testid="block-summary-remaining-nights"
    >
      Remaining
    </div>
    <div
      [ngClass]="sortableColumnClass('observingConditions.maximumSeeing')"
      (click)="onColumnClick($event, 'observingConditions.maximumSeeing')"
      data-testid="block-summary-maximum-seeing"
    >
      Max Seeing
    </div>
    <div>Transparency</div>
    <div
      [ngClass]="sortableColumnClass('observingConditions.maximumLunarPhase')"
      (click)="onColumnClick($event, 'observingConditions.maximumLunarPhase')"
      data-testid="block-summary-maximum-lunar-phase"
    >
      Max Lunar Phase
    </div>
    <div>Instrument</div>
    <div>Config Mode</div>
  </div>
  <div *ngFor="let b of filteredBlocks">
    <div
      class="block-row row"
      [ngClass]="blockClass(b)"
      [attr.data-test]="blockDataTestAttribute(b)"
    >
    <div data-test="block-id">{{ b.id }}</div>
    <div data-test="block-name">
      <a href="javascript:void(0)" (click)="onClick(b.name)">{{ b.name }}</a>
    </div>
    <div data-test="block-observation-time">{{ b.observationTime }}</div>
    <div data-test="block-priority">{{ b.priority }}</div>
    <div>{{ b.acceptedObservations }}/{{ b.requestedObservations }}</div>
    <div *ngIf="b.isObservableTonight" class="is-green">
      <img
        class="icon"
        src="/assets/icons/noun_tick_2836262-green.svg"
        alt="block is visible tonight"
      />
    </div>
    <div *ngIf="!b.isObservableTonight">
      <img
        class="icon"
        src="/assets/icons/noun_Cross_2120375.svg"
        alt="block is not visible tonight"
      />
    </div>
    <div data-test="block-remaining-nights">{{ b.remainingNights }}</div>
    <div data-test="block-maximum-seeing">
        {{ b.observingConditions.maximumSeeing }}
    </div>
    <div>
        <div>{{ b.observingConditions.transparency }}</div>
        <div *ngIf="b.observingConditions.transparency === 'Any'">
          <img
            class="icon"
            src="/assets/icons/noun_Cloud_moon_2462941.svg"
            alt="any weather conditions"
          />
        </div>
        <div *ngIf="b.observingConditions.transparency === 'Clear'">
          <img
            class="icon"
            src="/assets/icons/noun_Night_2325384.svg"
            alt="clear sky"
          />
        </div>
        <div *ngIf="b.observingConditions.transparency === 'Thin cloud'">
          <img
            class="icon"
            src="/assets/icons/noun_Cloud_1188472.svg"
            alt="thin clouds"
          />
        </div>
        <div *ngIf="b.observingConditions.transparency === 'Thick cloud'">
          <img
            class="icon"
            src="/assets/icons/noun_Cloud_2891552.svg"
            alt="thick clouds"
          />
        </div>
      </div>
      <div data-test="block-maximum-lunar-phase">
        {{ b.observingConditions.maximumLunarPhase }}
      </div>
      <div class="instrument-container">
        <div *ngFor="let i of b.instruments">
          <div>
            <a href="proposal/{{ proposalCode }}/#">{{ i.name }}</a>
          </div>
          <div>
            <div *ngFor="let m of i.modes">
              {{ m }}
            </div>
            <div *ngIf="i.gratings || i.filters">
              <div *ngFor="let g of i.gratings">{{ g }}</div>
              <div *ngFor="let t of i.filters">{{ t }}</div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
