<h2 class="title is-2">Block Summary</h2>
<hr class="heading-line blocks-header" />

<div class="checkboxes">
  <label for="filter-completed"
    ><input
      type="checkbox"
      id="filter-completed"
      (change)="filterByCompleted()"
      [checked]="filteredByCompleted"
    />
    Hide completed blocks
  </label>
  <label for="filter-unobservable"
    ><input
      type="checkbox"
      id="filter-unobservable"
      (change)="filterByUnobservable()"
      [checked]="filteredByUnobservable"
    />
    Hide blocks that cannot be observed any longer
  </label>
</div>

<br />

<table class="table is-bordered" [wmSort]="sort">
  <thead>
    <tr>
      <th wmSortBy="id" data-testid="block-summary-id">Block ID</th>
      <th wmSortBy="name" data-testid="block-summary-name">Block</th>
      <th
        wmSortBy="observationTime"
        data-testid="block-summary-observation-time"
      >
        Obs. Time (seconds)
      </th>
      <th wmSortBy="priority" data-testid="block-summary-priority">Priority</th>
      <th>Done Visits</th>
      <th>Tonight?</th>
      <th
        wmSortBy="remainingNights"
        data-testid="block-summary-remaining-nights"
      >
        Remaining
      </th>
      <th wmSortBy="maximumSeeing" data-testid="block-summary-maximum-seeing">
        Max Seeing
      </th>
      <th>Transparency</th>
      <th
        wmSortBy="maximumLunarPhase"
        data-testid="block-summary-maximum-lunar-phase"
      >
        Max Lunar Phase
      </th>
      <th>Instrument</th>
      <th>Config Mode</th>
      <th>Grating/Filter</th>
    </tr>
  </thead>

  <tbody>
    <ng-container *ngFor="let b of filteredBlocks">
      <tr
        [ngClass]="blockClass(b)"
        [attr.data-test]="blockDataTestAttribute(b)"
      >
        <!--
        The instrument setups are defined in separate table rows, but need to be
        displayed to the right of the other columns. This means the other
        columns must extend across their own row as well as the instrument setup
        rows; hence the need for a rowspan of b.instruments.length + 1.
        -->
        <td data-test="block-id" [attr.rowspan]="b.instruments.length">
          {{ b.id }}
        </td>
        <td [attr.rowspan]="b.instruments.length">
          <a
            data-test="block-name"
            href="javascript:void(0)"
            (click)="onClick(b.id)"
            >{{ b.name }}</a
          >
        </td>
        <td
          class="has-text-right"
          data-test="block-observation-time"
          [attr.rowspan]="b.instruments.length"
        >
          {{ b.observationTime }}
        </td>
        <td data-test="block-priority" [attr.rowspan]="b.instruments.length">
          {{ b.priority }}
        </td>
        <td [attr.rowspan]="b.instruments.length">
          {{ b.acceptedObservations }}/{{ b.requestedObservations }}
        </td>
        <td
          *ngIf="b.isObservableTonight"
          class="is-green"
          [attr.rowspan]="b.instruments.length"
        >
          <img
            class="icon"
            src="/assets/icons/noun_tick_2836262-green.svg"
            alt="block is visible tonight"
          />
        </td>
        <td
          *ngIf="!b.isObservableTonight"
          [attr.rowspan]="b.instruments.length"
        >
          <img
            class="icon"
            src="/assets/icons/noun_Cross_2120375.svg"
            alt="block is not visible tonight"
          />
        </td>
        <td
          data-test="block-remaining-nights"
          [attr.rowspan]="b.instruments.length"
        >
          {{ b.remainingNights }}
        </td>
        <td
          data-test="block-maximum-seeing"
          [attr.rowspan]="b.instruments.length"
        >
          {{ b.observingConditions.maximumSeeing }}
        </td>
        <td [attr.rowspan]="b.instruments.length">
          <div>{{ b.observingConditions.transparency }}</div>
          <div *ngIf="b.observingConditions.transparency === 'Any'">
            <img
              *ngIf="!isCompleted(b)"
              class="icon"
              src="/assets/icons/noun_Cloud_moon_2462941.svg"
              alt="any weather conditions"
            />
            <img
              *ngIf="isCompleted(b)"
              class="icon"
              src="/assets/icons/noun_Cloud_moon_2462941-light.svg"
              alt="any weather conditions"
            />
          </div>
          <div *ngIf="b.observingConditions.transparency === 'Clear'">
            <img
              *ngIf="!isCompleted(b)"
              class="icon"
              src="/assets/icons/noun_Night_2325384.svg"
              alt="clear sky"
            />
            <img
              *ngIf="isCompleted(b)"
              class="icon"
              src="/assets/icons/noun_Night_2325384-light.svg"
              alt="clear sky"
            />
          </div>
          <div *ngIf="b.observingConditions.transparency === 'Thin cloud'">
            <img
              *ngIf="!isCompleted(b)"
              class="icon"
              src="/assets/icons/noun_Cloud_1188472.svg"
              alt="thin clouds"
            />
            <img
              *ngIf="isCompleted(b)"
              class="icon"
              src="/assets/icons/noun_Cloud_1188472-light.svg"
              alt="thin clouds"
            />
          </div>
          <div *ngIf="b.observingConditions.transparency === 'Thick cloud'">
            <img
              *ngIf="!isCompleted(b)"
              class="icon"
              src="/assets/icons/noun_Cloud_2891552.svg"
              alt="thick clouds"
            />
            <img
              *ngIf="isCompleted(b)"
              class="icon"
              src="/assets/icons/noun_Cloud_2891552-light.svg"
              alt="thick clouds"
            />
          </div>
        </td>
        <td
          data-test="block-maximum-lunar-phase"
          [attr.rowspan]="b.instruments.length"
        >
          {{ b.observingConditions.maximumLunarPhase }}
        </td>
        <ng-container
          *ngTemplateOutlet="
            instrumentDetails;
            context: { instrument: b.instruments[0] }
          "
        ></ng-container>
      </tr>
      <ng-container *ngFor="let i of b.instruments; let _index = index">
        <tr *ngIf="_index !== 0" [ngClass]="blockClass(b)">
          <ng-container
            *ngTemplateOutlet="
              instrumentDetails;
              context: { instrument: b.instruments[_index] }
            "
          ></ng-container>
        </tr>
      </ng-container>
    </ng-container>
  </tbody>
</table>

<ng-template #instrumentDetails let-i="instrument">
  <td>{{ i.name }}</td>
  <td>
    <div *ngFor="let m of i.modes">
      {{ m }}
    </div>
  </td>
  <td>
    <div *ngIf="i.gratings || i.filters">
      <div *ngFor="let g of i.gratings">{{ g }}</div>
      <div *ngFor="let t of i.filters">{{ t }}</div>
    </div>
  </td>
</ng-template>
