@import "../../../../styles.scss";
.top-row {
  display: grid;
  grid-template-columns: 82% 18%;
  align-items: center;
}

.block-row {
  display: grid;
  grid-template-columns: 8% 17% repeat(6, 1fr) 10% repeat(1, 1fr) 18%;
  align-items: center;
}

.block-row.headers {
  grid-template-columns: 8% 17% repeat(6, 1fr) 10% repeat(1, 1fr) 7% 11%;
}

.block-row > div {
  font-size: 0.9rem;
}

.transparency {
  display: grid;
  grid-template-columns: 70% 30%;
  align-items: center;
}

.instrument-container {
  > div {
    display: grid;
    grid-template-columns: 7fr 11fr;
    padding-bottom: 0.5em;
  }

  > :nth-child(n + 2) {
    border-top: 0.01em solid $table-border-color;
    padding-top: 0.5em;
  }

  > :last-child {
    padding-bottom: 0;
  }
}
.header-icon {
  margin-top: -0.47em;
}

.select {
  width: 100px;
  position: relative;
}

.checkboxes label {
  display: block;
}

.checkboxes label {
  display: block;
}

.completed-block {
  background-color: $completed-background-color;
}

.sortable-column {
  position: relative;
  display: block;
  background: inherit;
  color: white;
}

.arrow {
  position: absolute;
  top: 10px;
  right: 20px;
}

.arrow::before,
.arrow::after {
  position: relative;
  content: '';
  display: block;
  width: 10px;
  height: 1px;
  background: white;
  transition: 0.3s ease-in-out;
}

.arrow::before {
  transform: rotate(45deg);
}

.arrow::after {
  left: 6px;
  top: -1px;
  transform: rotate(-45deg);
}

.sortable-column.active .arrow::before {
  transform: rotate(-45deg);
}

.sortable-column.active .arrow::after {
  transform: rotate(45deg);
}
