<h2 class="title is-2">Salticam Acquisition</h2>
<hr class="heading-line salticam-header" />
<div class="salticam">
  <div class="has-two-columns">
    <wm-general [salticam]="salticam"></wm-general>
    <wm-observaton-times [salticam]="salticam"></wm-observaton-times>
  </div>

  <div class="has-two-columns">
    <wm-detector-table
      [salticam]="salticam"
    ></wm-detector-table>
    <wm-filters-table
      [salticamFilter]="salticam.salticamProcedure"
    ></wm-filters-table>
  </div>
</div>
