<div>
  <table class="table">
    <tr class="secondary-header">
      <th colspan="2" class="has-text-centered">Observation times</th>
    </tr>
    <tr>
      <th>Shutter open time</th>
      <td class="has-text-right">
        {{ hrs.observationTime - hrs.overheadTime }} sec
      </td>
    </tr>
    <tr>
      <th>Overhead</th>
      <td class="has-text-right">{{ hrs.overheadTime }} sec</td>
    </tr>
    <tr>
      <th>Charged</th>
      <td class="has-text-right">{{ hrs.observationTime }} sec</td>
    </tr>
  </table>
</div>
