<div class="grid-table alternate-background">
  <div class="row secondary-header">
    <div class="has-text-centered">Observation times</div>
  </div>
  <div class="row has-two-columns">
    <div>Shutter open time</div>
    <div>{{ hrs.observationTime - hrs.overheadTime }} sec</div>
  </div>
  <div class="row has-two-columns">
    <div>Overhead</div>
    <div>{{ hrs.overheadTime }} sec</div>
  </div>
  <div class="row has-two-columns">
    <div>Charged</div>
    <div>{{ hrs.observationTime }} sec</div>
  </div>
</div>
