<h2 class="title is-2">Targets</h2>
<hr class="heading-line target-header" />
<table class="table is-bordered is-fullwidth">
  <thead>
    <tr class="headers">
      <th class="has-text-centered">General</th>
      <th colspan="3" class="has-text-centered">Coordinates</th>
      <th colspan="7" class="has-text-centered">Details</th>
      <th colspan="2" class="has-text-centered">Availability</th>
      <th colspan="5" class="has-text-centered">
        Probability (How are these calculated?)
      </th>
    </tr>
  </thead>
  <thead>
    <tr class="secondary-header">
      <th>Name</th>
      <th>Right Ascension</th>
      <th>Declination</th>
      <th>Equinox</th>
      <th>Magnitude Range</th>
      <th>Type</th>
      <th>Optional</th>
      <th>Visits</th>
      <th>Observing Time</th>
      <th>Maximum Lunar Phase</th>
      <th>Ranking</th>
      <th>Tracks</th>
      <th>Nights</th>
      <th>Moon</th>
      <th>Competition</th>
      <th>Observability</th>
      <th>Seeing</th>
      <th>Total</th>
    </tr>
  </thead>

  <tbody>
    <tr *ngFor="let o of observations">
      <td>{{ o.target.name }}</td>
      <td>{{ degreeToHMS(o.target.coordinates?.rightAscension || 0) }}</td>
      <td>{{ degreesToDms(o.target.coordinates?.declination || 0) }}</td>
      <td>{{ o.target.coordinates?.equinox || 2000 }}</td>
      <td>
        {{
          o.target.magnitude?.minimumMagnitude +
            " - " +
            o.target.magnitude?.maximumMagnitude
        }}
      </td>
      <td>
        {{
          o.target.targetType
            ? o.target.targetType.type + " - " + o.target.targetType.subtype
            : ""
        }}
      </td>
      <td *ngIf="o.isOptional">
        <div>
          <img
            class="icon is-small"
            src="/assets/icons/noun_tick_2836262-green.svg"
            alt="Is target of opportunity"
          />
        </div>
      </td>
      <td *ngIf="!o.isOptional">
        <div>
          <img
            class="icon is-small"
            src="/assets/icons/noun_Cross_2120375.svg"
            alt="Is not target of opportunity"
          />
        </div>
      </td>
      <td>{{ o.requestedObservations }}</td>
      <td>{{ o.observingTime }}</td>
      <td>{{ o.maxLunarPhase }}</td>
      <td>{{ o.ranking }}</td>
      <td>{{ o.trackCount }}</td>
      <td>{{ o.nightCount }}</td>
      <td>{{ o.observingProbabilities.moon }}</td>
      <td>{{ o.observingProbabilities.competition }}</td>
      <td>{{ o.observingProbabilities.observability }}</td>
      <td>{{ o.observingProbabilities.seeing }}</td>
      <td>{{ o.observingProbabilities.total }}</td>
    </tr>
  </tbody>
</table>
