<div *ngIf="proposal | async as p">
  <div>
    <h1>This is proposal {{ proposalCode }}.</h1>
  </div>
  <div>
    <wm-investigators [investigators]="p.investigators"></wm-investigators>
  </div>
  <br />
  <div>
    <wm-general-proposal-info
      [general_proposal_info]="p.general_info"
      [currentSemester]="p.general_info.current_semester"
    ></wm-general-proposal-info>
  </div>
  <wm-block-summaries
    [blocks]="p.blocks"
    [proposalCode]="p.general_info.code"
  ></wm-block-summaries>
</div>
