<div *ngIf="proposal | async as p">
  <h1 class="title is-3">This is proposal {{ proposalCode }}.</h1>
  <div class="block">
    <wm-investigators [investigators]="p.investigators"></wm-investigators>
  </div>
  <div class="block">
    <wm-general-proposal-info
      [general_proposal_info]="p.general_info"
      [currentSemester]="p.general_info.current_semester"
    ></wm-general-proposal-info>
  </div>
  <div class="block">
    <wm-block-summaries
      [blocks]="p.blocks"
      [proposalCode]="p.general_info.code"
    ></wm-block-summaries>
  </div>
</div>
