<h2 class="title is-2">Summary of executed observations</h2>
<hr class="heading-line summary-header" />
<table class="table">
  <thead>
    <tr>
      <th
        [wmSort]="observations"
        data-name="blockName"
        data-test="executed-observations-block-name-header"
      >
        Block
      </th>
      <th
        [wmSort]="observations"
        data-name="observationTime"
        data-test="executed-observations-observation-time-header"
      >
        Observation Time (seconds)
      </th>
      <th
        [wmSort]="observations"
        data-name="priority"
        data-test="executed-observations-priority-header"
      >
        Priority
      </th>
      <th
        [wmSort]="observations"
        data-name="maximumLunarPhase"
        data-test="executed-observations-maximum-lunar-phase-header"
      >
        Max Lunar Phase
      </th>
      <th
        [wmSort]="observations"
        data-name="targets"
        data-test="executed-observations-targets-header"
      >
        Target(s)
      </th>
      <th
        [wmSort]="observations"
        data-name="night"
        data-type="date"
        data-test="executed-observations-observation-date-header"
      >
        Observation Date
      </th>
      <th
        [wmSort]="observations"
        data-name="status"
        data-test="executed-observations-observation-status-header"
      >
        Accepted?
      </th>
      <th>Rejection Reason</th>
      <th>Edit</th>
      <th>Data</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td colspan="9"></td>
      <td>
        <label class="checkbox">
          <input
            #toggleSelectionAll
            type="checkbox"
            [checked]="selectAll"
            (change)="selectDeselectAll(toggleSelectionAll.checked)"
            data-test="select-all-observations-checkbox"
          />
          Select/Deselect all
        </label>
      </td>
    </tr>
    <tr *ngFor="let e of observations">
      <td>
        <div>
          <a
            data-test="executed-observations-block-name"
            href="javascript:void(0)"
            (click)="onClick(e.blockName)"
          >
            {{ e.blockName }}
          </a>
        </div>
      </td>
      <td
        data-test="executed-observations-observation-time"
        class="has-text-right"
      >
        {{ e.observationTime }}
      </td>
      <td data-test="executed-observations-priority">
        {{ e.priority }}
      </td>
      <td data-test="executed-observations-maximum-lunar-phase">
        {{ e.maximumLunarPhase }}
      </td>
      <td data-test="executed-observations-targets" class="targets-container">
        <div *ngFor="let t of e.targets">
          <div>
            <span>{{ t }}</span>
          </div>
        </div>
      </td>
      <td data-test="executed-observations-observation-date">
        {{ observationDate(e.night) | dfnsFormat: "d MMMM yyyy" }}
      </td>
      <td
        data-test="executed-observations-observation-status"
        *ngIf="e.status === 'Accepted'"
        class="is-green"
      >
        <img
          class="icon"
          src="/assets/icons/noun_tick_2836262-green.svg"
          alt="block has been accepted"
        />
      </td>
      <td
        data-test="executed-observations-observation-status"
        *ngIf="e.status === 'Rejected'"
      >
        <img
          class="icon"
          src="/assets/icons/noun_Cross_2120375.svg"
          alt="block has been rejected"
        />
      </td>
      <td>{{ e.rejectionReason }}</td>
      <td *ngIf="e.status === 'Accepted'">
        <button
          class="button is-danger is-small"
          [hidden]="showEditBlockButton"
        >
          Put block on hold
        </button>
      </td>
      <td *ngIf="e.status === 'Rejected'">
        <button
          class="button is-success is-small"
          [hidden]="showEditBlockButton"
        >
          Put block off hold
        </button>
      </td>
      <td>
        <label class="checkbox">
          <input
            type="checkbox"
            [checked]="e.downloadObservation"
            (change)="toggleRequestData(e.blockId)"
            data-test="download-observation-checkbox"
          />
          Request data
        </label>
      </td>
    </tr>
  </tbody>
</table>
