<h2 id="executed-observations" class="title is-2">
  Summary of executed observations
</h2>
<hr class="heading-line summary-header" />
<wm-edit-block-visit-status-modal
  #blockStatusModal
  (blockVisitStatusUpdate)="updateBlockVisitStatus($event)"
></wm-edit-block-visit-status-modal>
<wm-download-observations-modal
  (closeModal)="clearRequestedData()"
></wm-download-observations-modal>
<p class="mb-2">
  <a
    data-test="show-executed-observations"
    class="has-text-link"
    (click)="setObservationsList(false)"
  >
    {{ showObservationsList ? "Hide" : "Show" }} list of observations
  </a>
</p>
<div class="field" *ngIf="showObservationsList">
  <table class="table is-bordered" [wmSort]="sort">
    <thead>
      <tr>
        <th
          wmSortBy="blockName"
          data-test="executed-observations-block-name-header"
        >
          Block
        </th>
        <th
          wmSortBy="observationTime"
          data-test="executed-observations-observation-time-header"
        >
          Observation Time (seconds)
        </th>
        <th
          class="priority-width"
          wmSortBy="priority"
          data-test="executed-observations-priority-header"
        >
          Priority
        </th>
        <th
          wmSortBy="maximumLunarPhase"
          data-test="executed-observations-maximum-lunar-phase-header"
        >
          Max Lunar Phase
        </th>
        <th wmSortBy="targets" data-test="executed-observations-targets-header">
          Target(s)
        </th>
        <th
          wmSortBy="night"
          data-test="executed-observations-observation-date-header"
        >
          Observation Date
        </th>
        <th
          wmSortBy="status"
          data-test="executed-observations-observation-status-header"
        >
          Accepted?
        </th>
        <th>Rejection Reason</th>
        <th *ngIf="showEditBlockButton">Edit</th>
        <th class="data-width">Data</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td [attr.colspan]="showEditBlockButton ? 9 : 8"></td>
        <td>
          <label class="checkbox">
            <input
              #toggleSelectionAll
              type="checkbox"
              [checked]="isAllDataSelected()"
              (change)="selectAllData(toggleSelectionAll.checked)"
              data-test="select-all-observations-checkbox"
            />
            Select/Deselect all
          </label>
        </td>
      </tr>
    </tbody>
    <tbody
      *ngFor="let semester of Object.keys(groupedObservations).sort().reverse()"
    >
      <tr>
        <th
          class="semester-header"
          [attr.colspan]="showEditBlockButton ? 9 : 8"
          (click)="addOrRemoveDisplayedSemester(semester)"
        >
          <span class="white-text is-pulled-left">{{ semester }}</span>
          <span class="is-pulled-right">
            <button class="button has-text-weight-bold is-outlined is-rounded">
              {{ displayedSemesters.has(semester) ? "&#8689;" : "&#8690;" }}
            </button>
          </span>
        </th>
        <td>
          <label class="checkbox">
            <input
              #toggleSelectAllForSemester
              type="checkbox"
              [checked]="isAllSemesterDataChecked(semester)"
              (change)="
                selectAllSemesterData(
                  toggleSelectAllForSemester.checked,
                  semester
                )
              "
              data-test="select-all-observations-checkbox"
            />
            Select/Deselect all for {{ semester }}
          </label>
        </td>
      </tr>
      <ng-container *ngIf="displayedSemesters.has(semester)">
        <tr *ngFor="let e of groupedObservations[semester]">
          <td>
            <div>
              <a
                data-test="executed-observations-block-name"
                href="javascript:void(0)"
                (click)="onClick(e.blockId)"
              >
                {{ e.blockName }}
              </a>
            </div>
          </td>
          <td
            data-test="executed-observations-observation-time"
            class="has-text-right"
          >
            {{ e.observationTime }}
          </td>
          <td data-test="executed-observations-priority">
            {{ e.priority }}
          </td>
          <td data-test="executed-observations-maximum-lunar-phase">
            {{ e.maximumLunarPhase }}
          </td>
          <td
            data-test="executed-observations-targets"
            class="targets-container"
          >
            <div *ngFor="let t of e.targets">
              <div>
                <span>{{ t }}</span>
              </div>
            </div>
          </td>
          <td data-test="executed-observations-observation-date">
            {{ observationDate(e.night) | dfnsFormat: "d MMMM yyyy" }}
          </td>
          <td
            data-test="executed-observations-observation-status"
            *ngIf="e.status === 'Accepted'"
            class="is-green"
          >
            <img
              class="icon"
              src="/assets/icons/noun_tick_2836262-green.svg"
              alt="block has been accepted"
            />
          </td>
          <td
            data-test="executed-observations-observation-status"
            *ngIf="e.status === 'Rejected'"
          >
            <img
              class="icon"
              src="/assets/icons/noun_Cross_2120375.svg"
              alt="block has been rejected"
            />
          </td>
          <td data-test="executed-observations-block-rejection-reason">
            {{ e.rejectionReason }}
          </td>
          <td *ngIf="showEditBlockButton">
            <button
              data-test="executed-observations-status-edit-button"
              class="button is-small"
              (click)="
                blockStatusModal.openModal(e.id, e.status, e.rejectionReason)
              "
            >
              Edit
            </button>
          </td>
          <td>
            <label class="checkbox">
              <input
                #observationData
                type="checkbox"
                [checked]="isObservationSelected(e.id)"
                (change)="toggleRequestData(observationData.checked, e.id)"
                data-test="download-observation-checkbox"
              />
              Request data
            </label>
          </td>
        </tr>
      </ng-container>
    </tbody>
  </table>
  <div class="field request-control">
    <div></div>
    <div>
      <div class="field">
        <div class="control">
          <label for="include-calibrations" class="label spaced"
            ><input
              #includeCalibrationsCheckbox
              type="checkbox"
              id="include-calibrations"
              [checked]="includeCalibrations"
              (change)="
                setIncludeCalibrations(includeCalibrationsCheckbox.checked)
              "
            />
            Request spectrophotometric standards
          </label>
        </div>
      </div>
      <div class="field">
        <div class="control">
          <button
            class="button is-primary spaced"
            [ngClass]="requestingData ? 'is-loading' : ''"
            (click)="requestData()"
            [disabled]="requestingData"
          >
            Request Data
          </button>
        </div>
      </div>
      <div class="field" *ngIf="error">
        <div class="control">
          <p class="invalid-feedback has-text-danger">
            {{ error }}
          </p>
        </div>
      </div>
    </div>
  </div>
</div>
<p *ngIf="showObservationsList">
  <a class="has-text-link" (click)="setObservationsList(true)">
    Hide list of observations.
  </a>
</p>
