@import "../../../../styles";

.summary-row {
  display: grid;
  grid-template-columns: 16% repeat(3, 1fr) 15% repeat(2, 1fr) 10% 1fr 15%;
  align-items: center;
}

.summary-row > div {
  font-size: 0.9rem;
}

.select-all-row {
  display: grid;
  grid-template-columns: 1fr 15%;
  align-items: center;
}
.select-all-row > div {
  font-size: 0.9rem;
}

.targets-container {
  > div {
    display: grid;
    grid-template-columns: 1fr 11%;
    align-items: center;
  }
  > :nth-child(n + 2) {
    border-top: 0.01em solid $table-border-color;
    padding-top: 0.5em;
  }

  > :last-child {
    padding-bottom: 0;
  }
}
.header-icon {
  margin-top: -0.69em;
  height: 5rem;
}

th,
td {
  width: 215px;
}
.data-width {
  min-width: 205px;
}

.semester-header {
  background-color: $secondary-header;
}
.white-text {
  color: white;
}
.request-control {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: space-between;
}
.request-control > div {
  width: 245px;
}
.invalid-feedback {
  font-size: 1em;
  padding-bottom: 2em;
}
