<div *ngIf="slitMask">
  <table
    class="table"
    [ngClass]="{ 'has-red-background': !slitMask.isInMagazine }"
  >
    <tr class="secondary-header">
      <th colspan="2" class="has-text-centered">Slit mask</th>
    </tr>
    <tr>
      <th>Type</th>
      <td>{{ slitMask.maskType }}</td>
    </tr>
    <tr>
      <th>Description</th>
      <td>{{ slitMask.description }}</td>
    </tr>
    <tr>
      <th>Barcode</th>
      <td>{{ slitMask.barcode }}</td>
    </tr>
    <tr *ngIf="!slitMask.isInMagazine">
      <td>This Mask is currently unavailable!</td>
    </tr>
  </table>
</div>
