<table
  *ngIf="slitMask"
  class="table is-bordered is-fullwidth"
  [ngClass]="{ 'has-red-background': !slitMask.isInMagazine }"
>
  <thead>
    <tr class="headers">
      <th colspan="3" class="has-text-centered">Slit mask</th>
    </tr>
    <tr class="secondary-header">
      <th>Type</th>
      <th>Description</th>
      <th>Barcode</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td>{{ slitMask.maskType }}</td>
      <td>{{ slitMask.description }}</td>
      <td>{{ slitMask.barcode }}</td>
    </tr>
    <tr *ngIf="!slitMask.isInMagazine">
      <td colspan="3">This Mask is currently unavailable!</td>
    </tr>
  </tbody>
</table>
