<div>
  <wm-edit-proprietary-period-modal
    #proprietaryPeriodModal
    (updatePeriod)="onProprietaryPeriodUpdate($event)"
  ></wm-edit-proprietary-period-modal>
  <table class="table">
    <tr class="secondary-header">
      <th colspan="2" class="has-text-centered">Details</th>
    </tr>
    <tbody>
      <tr>
        <th>Status</th>
        <td>{{ proposal.generalInfo.status.value }}</td>
      </tr>
      <tr
        class="row proposal-details-row"
        *ngIf="proposal.generalInfo.status.comment"
      >
        <th>Status comment</th>
        <td>{{ proposal.generalInfo.status.comment }}</td>
      </tr>
      <tr>
        <th>Type</th>
        <td>{{ proposal.generalInfo.proposalType }}</td>
      </tr>
      <tr>
        <th>Target of Opportunity</th>
        <td *ngIf="proposal.generalInfo.isTargetOfOpportunity">
          <div>
            <img
              class="icon is-small"
              src="/assets/icons/noun_tick_2836262-green.svg"
              alt="Is target of opportunity"
            />
          </div>
        </td>
        <td *ngIf="!proposal.generalInfo.isTargetOfOpportunity">
          <div>
            <img
              class="icon is-small"
              src="/assets/icons/noun_Cross_2120375.svg"
              alt="Is not target of opportunity"
            />
          </div>
        </td>
      </tr>
      <tr>
        <th>Total time</th>
        <td>{{ proposal.generalInfo.totalRequestedTime }}</td>
      </tr>
      <tr>
        <th>Proprietary period</th>
        <td class="proprietary-period">
          <div>{{ releaseDate | dfnsFormat: "d MMMM yyyy" }}</div>
          <div *ngIf="showChangeButton">
            <button
              (click)="
                proprietaryPeriodModal.openModal(
                  proposal.generalInfo.proprietaryPeriod,
                  proposal.proposalCode
                )
              "
              class="button is-small"
            >
              change
            </button>
          </div>
        </td>
      </tr>
    </tbody>
  </table>
</div>
