
<table class="table is-bordered is-fullwidth">
    <thead>
      <tr class="headers">
        <th colspan="5" class="has-text-centered">Details</th>
      </tr>
      <tr class="secondary-header">
        <th>Status</th>
        <th>Type</th>
        <th>Target of Opportunity</th>
        <th>Total Time</th>
        <th>Data Release Date</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td>
          <wm-proposal-status [proposal]="proposal"></wm-proposal-status>
        </td>
        <td>{{ proposal.generalInfo.proposalType }}</td>
        <td class="has-text-centered" *ngIf="proposal.generalInfo.isTargetOfOpportunity">
          <div>
            <img
              class="icon is-small"
              src="/assets/icons/noun_tick_2836262-green.svg"
              alt="Is target of opportunity"
            />
          </div>
        </td>
        <td class="has-text-centered" *ngIf="!proposal.generalInfo.isTargetOfOpportunity">
          <div>
            <img
              class="icon is-small"
              src="/assets/icons/noun_Cross_2120375.svg"
              alt="Is not target of opportunity"
            />
          </div>
        </td>
        <td>{{ proposal.generalInfo.totalRequestedTime }} sec</td>
        <td class="inline-view">
          <div>{{ releaseDate | dfnsFormat: "d MMMM yyyy" }}</div>
          <div><button
            (click)="
                proprietaryPeriodModal.openModal(
                  proposal.generalInfo.proprietaryPeriod,
                  proposal.proposalCode
                )
              "
            class="button is-pulled-right"
          >
            Change
          </button></div>
        </td>
      </tr>
      <tr  *ngIf="isAdminOrSa">
        <th colspan="5">
          <wm-self-activate
            [proposalCode]="proposal.proposalCode"
            [isSelfActivatable]="isSelfActivatable"
          ></wm-self-activate>
        </th>
      </tr>
    </tbody>
    <thead *ngIf="proposal.generalInfo.status.comment">
      <tr class="secondary-header">
        <th colspan="5">
          Status Comment
        </th>
      </tr>
    </thead>
    <tbody *ngIf="proposal.generalInfo.status.comment">
      <tr>
        <td colspan="5">{{ proposal.generalInfo.status.comment }}</td>
      </tr>
    </tbody>
  </table>

<wm-edit-proprietary-period-modal
  #proprietaryPeriodModal
  (updatePeriod)="onProprietaryPeriodUpdate($event)"
></wm-edit-proprietary-period-modal>
