<div class="padded">
  <h2 class="title is-5">Colour coding:</h2>
  <div class="has-two-columns padded">
    <div class="square is-cut-mask-background"></div>
    <div>
      <p><b>Please cut the mask</b> (block is active, but mask is not cut)</p>
    </div>
  </div>
  <div class="has-two-columns padded">
    <div class="square is-put-mask-background"></div>
    <div>
      <p>
        <b>Put the mask in the magazine</b> (block is active and mask is cut,
        but mask is not in magazine)
      </p>
    </div>
  </div>
  <div class="has-two-columns padded">
    <div class="square is-ready-mask-background"></div>
    <div>
      <p><b>Ready to observe</b> (block is active and mask is in magazine)</p>
    </div>
  </div>
  <div class="has-two-columns padded">
    <div class="square is-take-mask-out-background"></div>
    <div>
      <p><b>Take mask out</b> (mask is no longer needed but is in magazine)</p>
    </div>
  </div>
  <div class="has-two-columns padded">
    <div class="square is-no-action-mask-background has-border"></div>
    <div>
      <p>
        <b>No need for any action right now</b> (please check status details)
      </p>
    </div>
  </div>
</div>
