<div>
  <table class="table">
    <tr class="secondary-header">
      <th colspan="2" class="has-text-centered">Iterations</th>
    </tr>
    <tr>
      <th>Wait</th>
      <td>{{ block.waitPeriod }}</td>
    </tr>
    <tr>
      <th>Visits</th>
      <td>{{ block.requestedObservations }}</td>
    </tr>
    <tr>
      <th>Attempted</th>
      <td>{{ rejectedObservations }}</td>
    </tr>
    <tr>
      <th>Done</th>
      <td>{{ acceptedObservations }}</td>
    </tr>
    <tr>
      <th>Shutter open time</th>
      <td>
        {{ block.observationTime - block.overheadTime }}
      </td>
    </tr>
  </table>
</div>
