<div>
  <table class="table">
    <thead>
      <tr class="secondary-header">
        <th colspan="6" class="has-text-centered">Observing conditions</th>
      </tr>
      <tr>
        <th>Transparency</th>
        <th>Max Lunar Phase</th>
        <th>Min Lunar Distance</th>
        <th>Min Seeing</th>
        <th>Max Seeing</th>
        <th>Obs Time</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td>{{ block.observingConditions.transparency }}</td>
        <td>{{ block.observingConditions.maximumLunarPhase }}</td>
        <td>{{ block.observingConditions.minimumLunarDistance }}</td>
        <td>{{ block.observingConditions.minimumSeeing }}</td>
        <td>{{ block.observingConditions.maximumSeeing }}</td>
        <td>{{ block.observationTime }}</td>
      </tr>
    </tbody>
  </table>
</div>
