<div class="grid-table">
  <div class="row secondary-header">
    <div class="has-text-centered">Observing conditions</div>
  </div>
  <div class="row headers conditions">
    <div>Transparency</div>
    <div>Max Lunar Phase</div>
    <div>Min Lunar Distance</div>
    <div>Min Seeing</div>
    <div>Max Seeing</div>
    <div>Obs Time</div>
  </div>
  <div class="row conditions">
    <div>{{ block.observingConditions.transparency }}</div>
    <div>{{ block.observingConditions.maximumLunarPhase }}</div>
    <div>{{ block.observingConditions.minimumLunarDistance }}</div>
    <div>{{ block.observingConditions.minimumSeeing }}</div>
    <div>{{ block.observingConditions.maximumSeeing }}</div>
    <div>{{ block.observationTime }}</div>
  </div>
</div>
