<div>
  <table class="table is-bordered">
    <thead>
      <tr class="secondary-header">
        <th colspan="6" class="has-text-centered">
          Charged Time To Date (seconds)
        </th>
      </tr>
      <tr>
        <th>Priority 0</th>
        <th>Priority 1</th>
        <th>Priority 2</th>
        <th>Priority 3</th>
        <th>Priority 4</th>
        <th>P1-P3 Total/Allocated</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td>{{ chargedTime.priority0 }}</td>
        <td>{{ chargedTime.priority1 }}</td>
        <td>{{ chargedTime.priority2 }}</td>
        <td>{{ chargedTime.priority3 }}</td>
        <td>{{ chargedTime.priority4 }}</td>
        <td data-testid="relative-completion">
          {{
            (chargedTimeP0ToP3 / allocatedP0ToP3Time) * 100 | number: "1.0-1"
          }}%
        </td>
      </tr>
    </tbody>
  </table>
</div>
