<div>
  <table class="table is-bordered">
    <thead>
      <tr>
        <th colspan="3" class="has-text-centered">Acquisition</th>
      </tr>
    </thead>
    <tbody>
      <tr class="secondary-header">
        <th colspan="3">Target</th>
      </tr>
      <tr>
        <td colspan="3">{{ acquisition.targetName }}</td>
      </tr>
      <tr class="secondary-header">
        <th>Finder chart</th>
        <th colspan="2">Comments</th>
      </tr>
      <ng-container *ngFor="let f of acquisition.finderCharts">
        <tr>
          <td>
            <a
              *ngIf="originalFinderChartURL(f); else finderChartNotFound"
              [routerLink]="['/finder-chart-view']"
              [queryParams]="{
                finderChart: originalFinderChartURL(f),
                positionAngle: this.positionAngle
              }"
            >
              <img
                src="{{ thumbnailFinderChartURL(f) }}"
                alt="Finding chart"
                class="image is-128x128"
              />
            </a>
            <ng-template #finderChartNotFound>
              <img
                src="{{ thumbnailFinderChartURL(f) }}"
                alt="Finding chart"
                class="image is-128x128"
              />
            </ng-template>
          </td>

          <td colspan="2">{{ f.comment || "None" }}</td>
        </tr>
      </ng-container>

      <tr>
        <td colspan="3"><a class="has-text-link">View Guider Chart</a></td>
      </tr>
      <tr>
        <td>Maximum seeing</td>
        <td>Filter</td>
        <td>Exposure time</td>
      </tr>
      <tr *ngFor="let e of acquisition.exposures">
        <td class="has-text-right">{{ acquisition.maximumSeeing }} arcsec</td>
        <td>{{ e.filter.description }}</td>
        <td class="has-text-right">{{ e.exposureTime }} sec</td>
      </tr>
    </tbody>
  </table>
</div>
