<table *ngIf="nirConfiguration" class="table is-bordered is-fullwidth">
  <thead>
    <tr class="headers has-text-centered">
      <th colspan="6">Configuration</th>
    </tr>
    <tr class="secondary-header">
      <th>Filter</th>
      <th>Camera Filter Wheel</th>
      <th>Grating</th>
      <th>Grating Angle</th>
      <th>Camera station</th>
      <th>Camera angle</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td>{{ nirConfiguration.filter }}</td>
      <td>{{ nirConfiguration.cameraFilterWheel }}</td>
      <td>{{ nirConfiguration.grating }}</td>
      <td>{{ nirConfiguration.gratingAngle | number: "1.2-2" }}&#176;</td>
      <td>{{ nirConfiguration.cameraStation }}</td>
      <td>{{ nirConfiguration.cameraAngle | number: "1.2-2" }}&#176;</td>
    </tr>
  </tbody>
</table>
