<div>
  <table class="table is-striped">
    <thead>
      <tr class="secondary-header">
        <th colspan="5" class="has-text-centered">General</th>
      </tr>
      <tr>
        <th colspan="3">Title</th>
        <th colspan="1">PI</th>
        <th colspan="1">PC</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td colspan="3">{{ proposal.generalInfo.title }}</td>
        <td colspan="1">
          {{ principalInvestigator()?.givenName }}
          {{ principalInvestigator()?.familyName }}
        </td>
        <td colspan="1">
          {{ principalContact()?.givenName }}
          {{ principalContact()?.familyName }}
        </td>
      </tr>
    </tbody>
    <thead>
      <tr>
        <th>Code</th>
        <th>Phase</th>
        <th>Semester</th>
        <th>First Submission</th>
        <th>Current Submission</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td>{{ proposal.proposalCode }}</td>
        <td>{{ proposal.phase }}</td>
        <td>
          <div class="select">
            <select
              (change)="onSemesterChange()"
              [formControl]="semesterControl"
            >
              <option
                *ngFor="let s of proposal.generalInfo.semesters"
                [value]="s"
              >
                {{ s }}
              </option>
            </select>
          </div>
          <div *ngIf="isLoading" class="content-loading">
            <div class="loading-spinner">
              <wm-small-loading-spinner></wm-small-loading-spinner>
            </div>
          </div>
        </td>
        <td>
          {{ firstSubmission() | dfnsFormat: "d MMMM yyyy" }}
        </td>
        <td>
          {{ currentSubmission() | dfnsFormat: "d MMMM yyyy" }}
          (#{{ proposal.generalInfo.submissionNumber }})
        </td>
      </tr>
    </tbody>
    <thead [class.is-blurred]="isLoading">
      <tr>
        <th colspan="5" class="has-text-centered">Abstract</th>
      </tr>
    </thead>
    <tbody [class.is-blurred]="isLoading">
      <tr>
        <td
          colspan="5"
          [innerHTML]="proposal.generalInfo.abstract | nl2br"
        ></td>
      </tr>
    </tbody>
    <thead [class.is-blurred]="isLoading">
      <tr>
        <th colspan="6" class="has-text-centered">Status</th>
      </tr>
    </thead>
    <tbody [class.is-blurred]="isLoading">
      <tr>
        <td
          colspan="5"
          class="{{ backgroundColor(this.proposal.generalInfo.status.value) }}"
          id="proposal-comment"
        >
          {{ statusDescription(this.proposal.generalInfo.status.value) }}
        </td>
      </tr>
    </tbody>
  </table>
</div>
