<div class="forgot-password">
  <div *ngIf="!switchForm">
    <h2 class="title is-3">Forgot password</h2>
    <form [formGroup]="forgotPasswordForm" (ngSubmit)="forgotPassword()">
      <div class="form-group">
        <label class="label">Username or email</label>
        <input
          (ngModelChange)="clearError()"
          type="text"
          formControlName="usernameEmail"
          class="input is-danger"
          data-test="username-email"
          [ngClass]="{ 'is-danger': submitted && f.usernameEmail.errors }"
        />
        <div
          *ngIf="(submitted || f.usernameEmail.dirty) && f.usernameEmail.errors"
          class="invalid-feedback"
        >
          <div
            *ngIf="f.usernameEmail.errors.required"
            class="has-text-danger"
            data-test="error"
          >
            Username or email is required
          </div>
        </div>
      </div>
      <div class="form-group">
        <button
          class="button is-primary {{ loading ? 'is-loading' : '' }}"
          data-test="submit-request"
        >
          Request
        </button>
        <div *ngIf="error">
          <p class="has-text-danger" data-test="error">{{ error }}</p>
        </div>
      </div>
    </form>
  </div>
  <div *ngIf="switchForm">
    <h5 class="title is-5">
      An email with a password reset link has been sent. Please follow the link
      in the email.
    </h5>
    <div class="has-two-columns buttons">
      <div>
        <button class="button is-success" (click)="toLogin()">Login</button>
      </div>
      <div>
        <button
          class="button is-primary"
          data-test="request-again"
          (click)="requestAgain()"
        >
          Request Again
        </button>
      </div>
    </div>
  </div>
</div>
