<div>
  <table class="table is-bordered is-fullwidth">
    <thead>
      <tr class="headers">
        <th colspan="2" class="has-text-centered">General</th>
        <th colspan="3" class="has-text-centered">Observation Time</th>
      </tr>
      <tr class="secondary-header">
        <th>MinSN</th>
        <th>Cycles</th>
        <th>Shutter Open Time</th>
        <th>Overhead</th>
        <th>Total Observation Time</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td></td>
        <td class="has-text-right">
          {{ nir.procedure.cycles }}
        </td>
        <td class="has-text-right">
          {{ nir.observationTime - nir.overheadTime | number: "1.2-2" }} sec
        </td>
        <td class="has-text-right">
          {{ nir.overheadTime | number: "1.2-2" }} sec
        </td>
        <td class="has-text-right">
          {{ nir.observationTime | number: "1.2-2" }} sec
        </td>
      </tr>
    </tbody>
  </table>
</div>
