<div class="table-container">
  <div class="wrapper">
    <div class="control">
      <div>
        <label class="radio">
          <input
            type="radio"
            name="loaded-block"
            [checked]="loadBlock === 'currentBlock'"
            (change)="updateSelectedBlock('currentBlock')"
          />
          Currently observed block
        </label>
      </div>
      <div>
        <label class="radio">
          <input
            type="radio"
            name="loaded-block"
            [checked]="loadBlock === 'nextBlock'"
            (change)="updateSelectedBlock('nextBlock')"
          />
          Next scheduled block
        </label>
      </div>
      <div class="other-section">
        <div>
          <label class="radio">
            <input
              type="radio"
              name="loaded-block"
              [checked]="loadBlock === 'otherBlock'"
              (change)="updateSelectedBlock('otherBlock')"
            />
            Specific Block Id
          </label>
        </div>
        <div>
          <input
            #blockIdInput
            type="text"
            class="input"
            [value]="blockId"
            [disabled]="loadBlock !== 'otherBlock'"
            (keyup)="updateBlockId($event, blockIdInput.value)"
          >
        </div>
      </div>

    </div>
    <div class="control">
      <div></div>
      <div>
        <label class="checkbox">
          <input
            #automaticallyUpdateCheckbox
            class="checkbox"
            type="checkbox"
            [checked]="automaticallyUpdate"
            (click)="updateAutomatically(automaticallyUpdateCheckbox.checked)"
          />
          Update this page automatically
        </label>
      </div>
      <div>
      <button
        class="button is-primary {{ loading ? 'is-loading' : '' }}"
        (click)="updatePage()"
      >
        Update page
      </button>
    </div>
    </div>
  </div>
  <div>
    <p *ngIf="error && !initialLoad" class="invalid-feedback has-text-danger">
      {{ error }}
    </p>
  </div>
  <h2 class="title is-2">Block</h2>
  <wm-loading-spinner *ngIf="loading"></wm-loading-spinner>
  <ng-container *ngIf="proposal && block && !loading; else NoBlock">
    <div class="block">
      <wm-general-table
        [proposal]="proposal"
        [block]="block"
      ></wm-general-table>
    </div>
    <div class="block">
      <wm-acquisition-table
        [acquisition]="acquisition"
        [positionAngle]="positionAngle"
      ></wm-acquisition-table>
    </div>
    <div class="block">
      <wm-instrument-config-table
        [telescopeConfigurations]="telescopeConfigurations"
      ></wm-instrument-config-table>
    </div>
  </ng-container>
  <ng-template #NoBlock>
    <div class="inline-view" *ngIf="error">
      <img
        class="icon is-large"
        src="/assets/icons/noun-zero-document-723179.svg"
        alt="No block found"
      />
      <p>There is no block to display.</p>
    </div>
  </ng-template>
</div>
