<div class="table-container">
  <div class="wrapper">
    <div>Display</div>
    <div>
      <div
        class="select"
        [ngClass]="{ 'is-danger': !!(error && !initialLoad) }"
      >
        <select
          #displayedBlock
          (change)="displayedBlockChange(displayedBlock.value)"
        >
          <option
            [selected]="loadBlock === 'currentBlock'"
            value="currentBlock"
          >
            Currently observed block
          </option>
          <option [selected]="loadBlock === 'NextBlock'" value="NextBlock">
            Next scheduled block
          </option>
        </select>
      </div>
    </div>
    <div>
      <button
        class="button is-primary {{ loading ? 'is-loading' : '' }}"
        (click)="updatePage()"
      >
        Update page
      </button>
    </div>
    <div>
      <label class="checkbox">
        <input
          #automaticallyUpdateCheckbox
          class="checkbox"
          type="checkbox"
          [checked]="automaticallyUpdate"
          (click)="updateAutomatically(automaticallyUpdateCheckbox.checked)"
        />
        Update this page automatically
      </label>
    </div>
  </div>
  <div>
    <p *ngIf="error && !initialLoad" class="invalid-feedback has-text-danger">
      {{ error }}
    </p>
  </div>
  <h2 class="title is-2">Block</h2>
  <wm-loading-spinner *ngIf="loading"></wm-loading-spinner>
  <ng-container *ngIf="proposal && block && !loading; else NoBlock">
    <div class="block">
      <wm-general-table
        [proposal]="proposal"
        [block]="block"
      ></wm-general-table>
    </div>
    <div class="block">
      <wm-acquisition-table
        [acquisition]="acquisition"
        [positionAngle]="positionAngle"
      ></wm-acquisition-table>
    </div>
    <div class="block">
      <wm-instrument-config-table
        [telescopeConfigurations]="telescopeConfigurations"
      ></wm-instrument-config-table>
    </div>
  </ng-container>
  <ng-template #NoBlock>
    <div class="inline-view" *ngIf="error">
      <img
        class="icon is-large"
        src="/assets/icons/noun-zero-document-723179.svg"
        alt="No block found"
      />
      <p>There is no block to display.</p>
    </div>
  </ng-template>
</div>
