<table class="table is-bordered is-fullwidth">
  <thead>
    <tr class="headers">
      <th colspan="5" class="has-text-centered">General</th>
    </tr>
    <tr class="secondary-header">
      <th>Mode</th>
      <th>Cycles</th>
      <th>Total Exp. time</th>
      <th>Overhead</th>
      <th>Charged</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td class="has-text-right">
        {{ rss.configuration.mode }}
      </td>
      <td class="has-text-right">
        {{ rss.procedure.cycles }}
      </td>
      <td class="has-text-right">
        {{ rss.observationTime - rss.overheadTime | number: "1.2-2" }} sec
      </td>
      <td class="has-text-right">
        {{ rss.overheadTime | number: "1.2-2" }} seconds
      </td>
      <td class="has-text-right">
        {{ rss.observationTime | number: "1.2-2" }} seconds
      </td>
    </tr>
  </tbody>
</table>
