<div>
  <table class="table">
    <tr class="secondary-header">
      <th colspan="2" class="has-text-centered">Proposal Progress</th>
    </tr>
    <tr>
      <td>
        <p *ngIf="proposalProgress">{{ proposalProgress }}</p>
      </td>
      <td>
        <p *ngIf="!proposalProgress">
          No progress report has been submitted yet.
        </p>
      </td>
    </tr>
    <tr>
      <td colspan="2"><button class="button">Edit</button></td>
    </tr>
    <tr>
      <td colspan="2">
        <a class="has-text-link">Show progress for other semesters</a>
      </td>
    </tr>
  </table>
</div>
