<div class="table alternate-background">
  <div class="row headers priority-comment">
    <div class="has-text-centered">Priority</div>
    <div class="has-text-centered">Comments</div>
    <div class="has-text-centered">Edit</div>
  </div>
  <div class="row priority-comment">
    <div>{{priority}}</div>
    <div>
      <p [innerHTML]="comment | nl2br"></p>
    </div>  <!--      Todo comments to discuss  -->
    <div class="has-text-centered"><button class="button">Edit block</button></div>
  </div>
  <div class="row">
    <div>
      The block was last submitted with major changes on {{lastModified | dfnsFormat: "d MMMM yyyy"}}.
    </div>
  </div>
</div>
