<h2 class="title is-2">Bvit Science Configuration</h2>
<hr class="heading-line bvit-header" />
<div class="table">
  <div class="row secondary-header">
    <div class="has-text-centered">General</div>
  </div>
  <div class="row headers general">
    <div>Mode</div>
    <div>Iris size</div>
    <div>Filter</div>
    <div>Neutral Density</div>
    <div>Shutter open time</div>
  </div>
  <div class="row general">
    <div>{{ bvit.mode }}</div>
    <div>{{ bvit.irisSize }}</div>
    <div>{{ bvit.filter }}</div>
    <div>{{ bvit.neutralDensity }}</div>
    <div>{{ bvit.shutterOpenTime }} sec</div>
  </div>
</div>
