<h2 class="title is-2">Block Summary</h2>
<hr class="heading-line blocks-header" />

<div class="table is-table alternate-background">
  <div class="block-row headers is-info row">
    <div>Block</div>
    <div>ObsTime</div>
    <div>Priority</div>
    <div>Done Visits</div>
    <div>Tonight?</div>
    <div>Remaining</div>
    <div>Max Seeing</div>
    <div>Transparency</div>
    <div>Max Lunar Phase</div>
    <div>Instrument</div>
    <div>Config Mode</div>
  </div>
  <div *ngFor="let b of blocks">
    <div class="block-row row">
      <div>
        <a href="proposal/{{ proposalCode }}/#block{{ b.id }}">{{ b.name }}</a>
      </div>
      <div>{{ b.observationTime }}</div>
      <div>{{ b.priority }}</div>
      <div>{{ b.acceptedObservations }}/{{ b.requestedObservations }}</div>
      <div *ngIf="b.isObservableTonight" class="is-green">
        <img
          class="icon"
          src="/assets/icons/noun_tick_2836262-green.svg"
          alt="block is visible tonight"
        />
      </div>
      <div *ngIf="!b.isObservableTonight">
        <img
          class="icon"
          src="/assets/icons/noun_Cross_2120375.svg"
          alt="block is not visible tonight"
        />
      </div>
      <div>{{ b.remainingNights }}</div>
      <div>{{ b.observingConditions.maximumSeeing }}</div>
      <div class="transparency">
        <div>{{ b.observingConditions.transparency }}</div>
        <div *ngIf="b.observingConditions.transparency === 'Any'">
          <img
            class="icon"
            src="/assets/icons/noun_Cloud_moon_2462941.svg"
            alt="any weather conditions"
          />
        </div>
        <div *ngIf="b.observingConditions.transparency === 'Clear'">
          <img
            class="icon"
            src="/assets/icons/noun_Night_2325384.svg"
            alt="clear sky"
          />
        </div>
        <div *ngIf="b.observingConditions.transparency === 'Thin cloud'">
          <img
            class="icon"
            src="/assets/icons/noun_Cloud_1188472.svg"
            alt="thin clouds"
          />
        </div>
        <div *ngIf="b.observingConditions.transparency === 'Thick cloud'">
          <img
            class="icon"
            src="/assets/icons/noun_Cloud_2891552.svg"
            alt="thick clouds"
          />
        </div>
      </div>
      <div>{{ b.observingConditions.maximumLunarPhase }}</div>
      <div class="instrument-container">
        <div *ngFor="let i of b.instruments">
          <div>
            <a href="proposal/{{ proposalCode }}/#">{{ i.name }}</a>
          </div>
          <div>
            <div *ngFor="let m of i.modes">
              {{m}}
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
