@import "../../../styles.scss";
.top-row {
  display: grid;
  grid-template-columns: 82% 18%;
  align-items: center;
}

.block-row {
  display: grid;
  grid-template-columns: 15% repeat(6, 1fr) 10% repeat(1, 1fr) 18%;
  align-items: center;
}

.block-row.headers {
  grid-template-columns: 15% repeat(6, 1fr) 10% repeat(1, 1fr) 7% 11%;
}

.block-row > div {
  font-size: 0.9rem;
}

.transparency {
  display: grid;
  grid-template-columns: 70% 30%;
  align-items: center;
}

.instrument-container {
  > div {
    display: grid;
    grid-template-columns: 7fr 11fr;
    padding-bottom: 0.5em;
  }

  > :nth-child(n + 2) {
    border-top: 0.01em solid white;
    padding-top: 0.5em;
  }

  > :last-child {
    padding-bottom: 0;
  }
}
