<div class="table alternate-background">
  <div class="row secondary-header">
    <div class="has-text-centered">{{ pattern.name }}</div>
  </div>
  <div class="row headers has-three-columns">
    <div>#</div>
    <div>Half-Wave Pattern</div>
    <div>Quarter-Wave Pattern</div>
  </div>
  <div
    *ngFor="let p of pattern.wavePlateAngles; let i = index"
    class="row has-three-columns"
  >
    <div>{{ i }}</div>
    <div>{{ p.halfWave }}</div>
    <div>{{ p.quarterWave }}</div>
  </div>
</div>
