<div data-test="block-selection">
  <button
    class="button mr-3"
    [disabled]="selectedIndex < 1"
    (click)="selectBlock(selectedIndex - 1)"
  >
    <span class="icon is-small">
      <img src="/assets/icons/noun_Left_1920907.svg" alt="left arrow" />
    </span>
    <span>Prev</span>
  </button>
  <div class="select">
    <select (change)="onSelect($event)">
      <option
        *ngFor="let b of sortedBlocks; index as i"
        [value]="i"
        [selected]="i === selectedIndex"
      >
        {{ b.name }}
      </option>
    </select>
  </div>
  <button
    class="button ml-3"
    [disabled]="selectedIndex > blocks.length - 2"
    (click)="selectBlock(selectedIndex + 1)"
  >
    <span>Next</span>
    <span class="icon is-small">
      <img src="/assets/icons/noun_right_1920905.svg" alt="right arrow" />
    </span>
  </button>
  <input
    (input)="onInput($event)"
    type="text"
    class="block-filter"
    placeholder="Search for a block"
    list="blockNames"
  />
  <datalist id="blockNames">
    <option *ngFor="let b of sortedBlocks" [value]="b.name">
      {{ b.name }}
    </option>
  </datalist>
  <span id="error"></span>
</div>
