.home {
  width: 80vw;
  height: 100vh;
  max-width: 100%;
}

.right {
  margin-top: -0.5rem;
  float: right;
}

.logo {
  position: relative;
}

.salt_logo {
  height: 100px;
  background: url("/assets/salt_logo.jpg") bottom center no-repeat;
  background-size: 100% 100%;
}

.salt_image {
  background: url("/assets/salt_image.jpg") bottom center no-repeat;
  background-size: 100% 100%;
  position: absolute;
  top: 0;
  right: 0;
  padding: 6.96rem 7.5rem 0 0;
}

.body {
  margin: 2rem 2rem 0 2rem;
}

.footer {
  position: absolute;
  padding-top: 10rem;
  margin-left: 0;
  margin-bottom: 0;
  width: 100%;
  text-align: center;
  background-color: transparent;
}

.welcome-message {
  padding-right: 2em;
}
