@import "../../../../../styles";
.payload-configuration-container {
  display: grid;
  grid-row-gap: 1em;
}

.payload-configuration-row {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  align-items: center;
}
