<div>
  <table class="table">
    <thead>
      <tr class="secondary-header">
        <th colspan="5" class="has-text-centered">Detector</th>
      </tr>
      <tr>
        <th>Iterations</th>
        <th>RoSpeed</th>
        <th>Gain</th>
        <th>Mode</th>
        <th>Binning (spatial × spectral)</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td>{{ detector.iterations }}</td>
        <td>{{ detector.readoutSpeed }}</td>
        <td>{{ detector.gain }}</td>
        <td>{{ detector.mode }}</td>
        <td>{{ detector.preBinnedRows }} × {{ detector.preBinnedColumns }}</td>
      </tr>
    </tbody>
    <thead>
      <tr>
        <th colspan="2">Exp. Type</th>
        <th colspan="2">Exp. Time</th>
        <th>Window Height</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td colspan="2">{{ detector.exposureType }}</td>
        <td colspan="2">{{ detector.exposureTime | number: "1.2-2" }} sec</td>
        <td>
          <span *ngIf="detector.detectorWindow">{{
            detector.detectorWindow.height
          }}</span>
          <span
            *ngIf="
              detector.detectorWindow === null ||
              detector.detectorWindow.height !== null
            "
            >No Window</span
          >
        </td>
      </tr>
    </tbody>
  </table>
</div>
