<div class="grid-table alternate-background">
  <div class="secondary-header row">
    <div class="has-text-centered">Detector</div>
  </div>
  <div class="row headers detector-section">
    <div>Iterations</div>
    <div>RoSpeed</div>
    <div>Gain</div>
    <div>Mode</div>
    <div>Binning (spatial × spectral)</div>
  </div>
  <div class="row detector-section">
    <div>{{ detector.iterations }}</div>
    <div>{{ detector.readoutSpeed }}</div>
    <div>{{ detector.gain }}</div>
    <div>{{ detector.mode }}</div>
    <div>{{ detector.preBinnedRows }} × {{ detector.preBinnedColumns }}</div>
  </div>
  <div class="row headers exposure-section">
    <div>Exp. type</div>
    <div>Exp. time</div>
    <div>Window height</div>
  </div>
  <div class="row exposure-section">
    <div>{{ detector.exposureType }}</div>
    <div>{{ detector.exposureTime }} sec</div>
    <div>
      <span *ngIf="detector.detectorWindow">{{
        detector.detectorWindow?.height
      }}</span>
      <span
        *ngIf="
          detector.detectorWindow === null ||
          detector.detectorWindow.height !== null
        "
        >No Window</span
      >
    </div>
  </div>
</div>
