<h2 class="title is-3">
  HRS {{ payloadConfiguration.payloadConfigurationType }} Configuration
</h2>
<hr class="heading-line hrs-header" />
<div>
  <div class="has-two-columns">
    <div>
      <wm-hrs-general-info [hrs]="hrs"></wm-hrs-general-info>
      <wm-hrs-configuration [hrsConfig]="hrs.configuration"></wm-hrs-configuration>
    </div>
    <div>
      <div class="detector-section">
        <wm-hrs-detector [hrs]="hrs" detectorColor="Blue"></wm-hrs-detector>
        <wm-hrs-detector [hrs]="hrs" detectorColor="Red"></wm-hrs-detector>
      </div>
    </div>
  </div>
</div>
