<h2 class="title is-2">HRS Science Configuration</h2>
<hr class="heading-line hrs-header" />
<div class="hrs">
  <div class="has-two-columns">
    <wm-general-table [hrsProcedure]="hrs.hrsProcedure"></wm-general-table>
    <wm-observing-times-table [hrs]="hrs"></wm-observing-times-table>
  </div>
  <div class="has-two-columns">
    <wm-detector-table [hrs]="hrs"
                       detectorColor="Blue"
    ></wm-detector-table>
    <wm-detector-table [hrs]="hrs"
                       hr
                       detectorColor="Red"
    ></wm-detector-table>
  </div>
  <wm-configuration-table [hrsConfig]="hrs.hrsConfig"></wm-configuration-table>

</div>
