<wm-p1-proposal-details [proposal]="proposal"> </wm-p1-proposal-details>
<div class="block">
  <wm-requested-times
    [requestedTimes]="proposal.requestedTimes"
  ></wm-requested-times>
</div>
<div class="block">
  <wm-student-theses
    [investigators]="proposal.investigators"
    [generalInfo]="proposal.generalInfo"
  ></wm-student-theses>
</div>
<div class="block">
  <wm-time-allocations-table
    [time_allocations]="proposal.timeAllocations"
  ></wm-time-allocations-table>
</div>
<div class="block">
  <wm-investigators [proposal]="proposal"></wm-investigators>
</div>
<div class="block">
  <wm-p1-observations
    [observations]="proposal.observations"
  ></wm-p1-observations>
</div>
<div class="block">
  <wm-p1-configurations
    [scienceConfigurations]="proposal.scienceConfigurations"
  ></wm-p1-configurations>
</div>
