<div class="block">
  <div class="inline-view">
    <wm-phase-one-proposal-details
      [generalProposalInfo]="proposal.generalInfo"
    ></wm-phase-one-proposal-details>
    <wm-requested-time-distribution
      [requestedTime]="proposal.requestedTime"
    ></wm-requested-time-distribution>
    <wm-phase-one-requested-time
      [requestedTime]="proposal.requestedTime"
    ></wm-phase-one-requested-time>
  </div>
</div>
<div class="block">
  <wm-time-allocation-table
    [time_allocations]="proposal.timeAllocations"
  ></wm-time-allocation-table>
</div>
<div class="block">
  <wm-investigators [investigators]="proposal.investigators"></wm-investigators>
</div>
<div class="block">
  <wm-phase-one-target [phase1Targets]="proposal.targets"></wm-phase-one-target>
</div>
<div class="block">
  <wm-p1-configurations
    [configurations]="proposal.configurations"
  ></wm-p1-configurations>
</div>
