<div *ngIf="arcBibleEntries">
  <table class="table">
    <thead>
      <tr class="secondary-header">
        <th colspan="4" class="has-text-centered">Arc Bible</th>
      </tr>
      <tr>
        <th>Lamp</th>
        <th>Base Exp. Time</th>
        <th>Corrected Exp. Time</th>
        <th>Preferred Exp. Time</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let ab of arcBibleEntries">
        <td>
          {{ ab.lamp }} <span *ngIf="ab.isPreferredLamp"> (preferred)</span>
        </td>
        <td *ngIf="ab.originalExposureTime; else elseBlock">
          {{ ab.originalExposureTime }} sec
        </td>
        <ng-template #elseBlock><td>n/a</td></ng-template>
        <td>{{ ab.originalExposureTime }} sec</td>
        <td>{{ ab.preferredExposureTime }} sec</td>
      </tr>
    </tbody>
  </table>
</div>
