@import "src/styles";

.textarea {
  min-width: 400px;
}
div {
  display: inline-block;
  padding-right: 0.1em;
  padding-bottom: 0.1em;
  margin-bottom: 0.5em;
}
.modal-card-body {
  padding-bottom: 0;
  padding-top: 0.5em;
}

.has-text-centered {
  margin-top: 0.66em;
  padding-left: 0.5em;
}
.modal-card-foot {
  padding-bottom: 0;
  padding-top: 0.5em;
}
.control {
  padding-bottom: 0;
  margin-bottom: 0;
}

.danger {
  background-color: $danger;
  opacity: 0.5;
}
.modal-card {
  max-width: 450px;
}
