<div>
  <table class="table">
    <thead>
      <tr class="secondary-header">
        <th colspan="7" class="has-text-centered">Configuration</th>
      </tr>
      <tr>
        <th>Mode</th>
        <th>Exposure Type</th>
        <th>Iodine Cell</th>
        <th>Nod Interval</th>
        <th>Nod Count</th>
        <th>Target Location</th>
        <th>Fibre Separation</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td>{{ hrsConfig.mode }}</td>
        <td>{{ hrsConfig.exposureType }}</td>
        <td>{{ hrsConfig.iodineCellPosition }}</td>
        <td>{{ hrsConfig.nodAndShuffle?.nodInterval }}</td>
        <td>{{ hrsConfig.nodAndShuffle?.nodCount }}</td>
        <td>{{ hrsConfig.targetLocation }}</td>
        <td>{{ hrsConfig.fiberSeparation }}</td>
      </tr>
    </tbody>
  </table>
</div>
