<div>
  <table class="table is-bordered is-fullwidth">
    <thead>
      <tr class="headers">
        <th colspan="4" class="has-text-centered">Configuration</th>
      </tr>
      <tr class="secondary-header">
        <th colspan="2">Mode</th>
        <th>Exposure Type</th>
        <th>Iodine Cell</th>

      </tr>
    </thead>
    <tbody>
      <tr>
        <td colspan="2" class="{{ resolution }}">{{ hrsConfig.mode }}</td>
        <td>{{ hrsConfig.exposureType }}</td>
        <td
          [ngClass]="{
            'has-background-danger': hrsConfig.iodineCellPosition !== 'Out'
          }"
        >
          {{ hrsConfig.iodineCellPosition }}
        </td>

      </tr>
    </tbody>
    <thead>
      <tr class="secondary-header">
        <th>Nod Interval</th>
        <th>Nod Count</th>
        <th>Target Location</th>
        <th>Fibre Separation</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td></td>
        <td></td>
        <td>{{ hrsConfig.targetLocation }}</td>
        <td>{{ hrsConfig.fiberSeparation }} arcsec</td>
      </tr>
    </tbody>
  </table>
</div>
