<div class="block">
  <wm-observing-conditions [block]="block"></wm-observing-conditions>
  <div class="has-two-columns">
    <div>
      <wm-iterations [block]="block"></wm-iterations>
      <wm-total-observation-time
        [overhead]="block.overheadTime"
        [totalObservationTime]="block.observationTime"
      ></wm-total-observation-time>
    </div>
    <wm-observation-probabilities></wm-observation-probabilities>
  </div>
  <wm-priority-comment
    [comment]="block.comment"
    [priority]="block.priority"
  ></wm-priority-comment>
  <wm-observing-windows
    [observingWindows]="block.observingWindows"
  ></wm-observing-windows>
  <!--  TODO this component belong to the payload view will be moved accordingly-->
  <wm-target></wm-target>
  <wm-observation></wm-observation>
</div>
