<h2 class="title is-4">{{instrumentConfiguration.instrument}} {{instrumentConfiguration.configurationType}} - Configuration #{{runningNumber}}</h2>
<hr class="heading-line {{headerLine}}">
<div class="has-two-columns">
  <wm-rss-general-table [configuration]="instrumentConfiguration.configuration"></wm-rss-general-table>
  <wm-rss-detector-table [detector]="instrumentConfiguration.configuration.detector"></wm-rss-detector-table>
  <div  *ngIf="instrumentConfiguration.configuration.spectroscopy">
    <wm-spectroscopy-table [spectroscopy]="instrumentConfiguration.configuration.spectroscopy"></wm-spectroscopy-table>
  </div>
  <div *ngIf="instrumentConfiguration.configuration.slitMask">
    <wm-rss-slit-mask [slitMask]="instrumentConfiguration.configuration.slitMask"></wm-rss-slit-mask>
  </div>
  <div *ngIf="instrumentConfiguration.configuration.calibrations">
    <wm-rss-calibration-table [calibrationSetup]="instrumentConfiguration.configuration.calibrations"></wm-rss-calibration-table>
  </div>
  <div *ngIf="instrumentConfiguration.configuration.arcBibleEntries">
    <wm-arc-bible-table [arcBibleEntries]="instrumentConfiguration.configuration.arcBibleEntries"></wm-arc-bible-table>
  </div>
</div>
