<div>
  <table class="table">
    <thead>
      <tr class="secondary-header">
        <th colspan="3" class="has-text-centered">Filters</th>
      </tr>
      <tr>
        <th>Name</th>
        <th>Description</th>
        <th>Exposure time</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let f of salticamExposures">
        <td>{{ f.filter.name }}</td>
        <td>{{ f.filter.description }}</td>
        <td>{{ f.exposureTime }} sec</td>
      </tr>
      <tr>
        <td colspan="3">The filter is current unavailable</td>
      </tr>
    </tbody>
  </table>
</div>
