.table-header {
  background: #bcc4cc;
  color: white;
  text-align: left;
  font-weight: bolder;
  font-size: 0.85rem;
  height: 100%;
}

.has-two-columns {
  gap: 0.5em;
}
.is-overlay {
  min-height: 10rem;
}
.is-overlay > wm-loading-spinner {
  display: flex;
  justify-content: center;
  padding-top: 3rem;
}
