<wm-modal
  [title]="modalTitle"
  [isModalActive]="isModalActive"
  [loading]="loading"
  (submitContent)="submit()"
  (closeModal)="closeModal()"
  [error]="error"
>
  <div>
    <form class="" [formGroup]="saltAstronomerForm" (submit)="submit()">
      <section class="modal-card-body">
        <div class="field is-grouped">
          <div class="control">
            <div class="select">
              <select
                id="salt-astronomers"
                #saltAstronomer
                (change)="changeSaltAstronomer(saltAstronomer.value)"
                formControlName="selectedSaltAstronomer"
              >
                <option value="">None</option>
                <option *ngFor="let sa of saltAstronomers" [value]="sa.id">
                  {{ sa.givenName + " " + sa.familyName }}
                </option>
              </select>
            </div>
            <div
              *ngIf="loading && saltAstronomers === null"
              class="control is-loading"
            ></div>
          </div>
        </div>
      </section>
    </form>
  </div>
</wm-modal>
