@import "../../../../styles.scss";
.block {
  display: grid;
  row-gap: 1em;
}
.has-three-columns {
  column-gap: 1rem;
}

.completed-block {
  background-color: #f5f5f5;
  color: #999996;
}

.inactive-block {
  background-color: $red-background;
}
