<h2 class="title is-2">Block {{ block.name }} (#{{block.id}})</h2>
<hr class="heading-line block-header" />

<div class="block">
  <div>
    <wm-edit-block-status-modal
      #blockStatusModal
      (blockStatusUpdate)="updateBlockStatus($event)"
    ></wm-edit-block-status-modal>
    <table class="table">
      <thead>
        <tr>
          <th>Status</th>
          <th
            *ngIf="
              showEditBlockButton &&
              (block.status.value === 'Active' ||
                block.status.value === 'On hold')
            "
          >
            Edit
          </th>
        </tr>
      </thead>
      <tbody>
        <tr [ngClass]="blockClass(block)">
          <td data-test="block-status">
            {{ block.status.value }}
          </td>
          <td
            *ngIf="
              showEditBlockButton &&
              (block.status.value === 'Active' ||
                block.status.value === 'On hold')
            "
            class="has-text-centered"
          >
            <button
              class="button"
              (click)="
                blockStatusModal.openModal(
                  block.id,
                  block.status.value,
                  block.status.reason
                )
              "
              data-test="edit-block-status-button"
              [ngClass]="blockClass(block)"
            >
              Edit
            </button>
          </td>
        </tr>
        <tr [ngClass]="blockClass(block)">
          <td>
            <b>
              The block was last submitted with major changes on
              {{ latestSubmissionDate | dfnsFormat: "dd LLLL yyyy" }}.
            </b>
          </td>
          <td
            *ngIf="
              showEditBlockButton &&
              (block.status.value === 'Active' ||
                block.status.value === 'On hold')
            "
          ></td>
        </tr>
      </tbody>
    </table>
  </div>
  <wm-observing-conditions [block]="block"></wm-observing-conditions>
  <div>
    <table class="table is-bordered is-fullwidth">
      <thead>
        <tr class="headers">
          <th>Priority</th>
          <th>Ranking</th>
          <th>Comments</th>
        </tr>
      </thead>
      <tbody>
      <tr>
        <td>{{ block.priority }}</td>
        <td>{{ block.ranking }}</td>
        <td>
          <p [innerHTML]="block.comment | nl2br"></p>
        </td>
      </tr>
      </tbody>
    </table>
  </div>
  <wm-observing-windows
    [observingWindows]="block.observingWindows"
  ></wm-observing-windows>
  <div class="inline-view">
    <wm-observation-probabilities
      [block]="block"
    ></wm-observation-probabilities>

    <wm-target
      *ngFor="let observation of block.observations"
      [target]="observation.target"
    ></wm-target>

    <ng-container *ngFor="let observation of block.observations">
      <table class="table">
        <thead>
          <tr class="secondary-header">
            <th
              colspan="2"
              class="has-text-centered"
              data-test="finder-chart-validity"
            >
              Finding charts ({{ validFrom | dfnsFormat: "d MMMM yyyy H:mm" }}
              to
              {{ validUntil | dfnsFormat: "d MMMM yyyy H:mm" }})
            </th>
          </tr>
          <tr>
            <th>Chart</th>
            <th class="has-text-left">Comment</th>
          </tr>
        </thead>
        <tbody>
          <tr
            *ngFor="let c of validSortedFinderCharts(observation.finderCharts)"
            data-test="finder-chart"
          >
            <td>
              <a
                *ngIf="originalFinderChartURL(c); else finderChartNotFound"
                [routerLink]="['/finder-chart-view']"
                [queryParams]="{
                  finderChart: originalFinderChartURL(c),
                  positionAngle:
                    block.observations[0].telescopeConfigurations[0]
                      .positionAngle || 0
                }"
                target="_blank"
              >
                <img
                  src="{{ thumbnailFinderChartURL(c) }}"
                  alt="Finding chart"
                  class="image is-128x128"
                />
              </a>
              <ng-template #finderChartNotFound>
                <img
                  src="{{ thumbnailFinderChartURL(c) }}"
                  alt="Finding chart"
                  class="image is-128x128"
                />
              </ng-template>
            </td>
            <td>
              <p
                *ngIf="c.comment; then comment; else noComment"
                [innerHTML]="c.comment | nl2br"
              ></p>
              <ng-template #comment
                ><p *ngIf="c.comment" [innerHTML]="c.comment | nl2br"></p
              ></ng-template>
              <ng-template #noComment><p #noneText>None</p></ng-template>
            </td>
          </tr>
        </tbody>
      </table>
    </ng-container>
  </div>
  <ng-container *ngFor="let observation of block.observations">
    <div
      *ngFor="let tc of observation.telescopeConfigurations; index as tc_index"
    >
      <div *ngIf="observation.telescopeConfigurations.length > 1">
        <h2 class="title is-2">Telescope Configuration #{{ tc_index + 1 }}</h2>
        <hr class="heading-line telescope-configuration-header" />
      </div>

      <wm-payload
        *ngFor="let pc of tc.payloadConfigurations; index as pc_index"
        [telescopeConfiguration]="tc"
        [payloadConfigurationIndex]="pc_index"
      ></wm-payload>
    </div>
  </ng-container>
</div>
