<div>
  <table class="table">
    <tr class="secondary-header">
      <th colspan="2" class="has-text-centered">Download</th>
    </tr>
    <tr>
      <td colspan="2"><a class="has-text-link">Download zip file</a></td>
    </tr>
    <tr *ngIf="doesSummaryExist()">
      <td colspan="2">
        <a [href]="summaryDownloadLink()">Download summary</a>
      </td>
    </tr>

    <wm-responsible-astronomer
      [generalProposalInfo]="proposal.generalInfo"
    ></wm-responsible-astronomer>
  </table>
</div>
