<div class="proposal-details-row main-details">
  <div class="table alternate-background">
    <div class="secondary-header row">
      <div class="has-text-centered">Details</div>
    </div>
    <div class="row proposal-details-row">
      <div>Status</div>
      <div>{{ general_proposal_info.status.status }}</div>
    </div>
    <div class="row proposal-details-row">
      <div>Type</div>
      <div>{{ general_proposal_info.type }}</div>
    </div>
    <div class="row proposal-details-row">
      <div>Target of Opportunity</div>
      <div *ngIf="general_proposal_info.target_of_opportunity">
      <div>
        <img
          class="icon is-small"
          src="/assets/icons/noun_tick_2836262-green.svg"
          alt="Is target of opportunity"
        />
      </div>
    </div>
      <div *ngIf="!general_proposal_info.target_of_opportunity">
        <div>
          <img
            class="icon is-small"
            src="/assets/icons/noun_Cross_2120375.svg"
            alt="Is not target of opportunity"
          />
        </div>
      </div>
    </div>
    <div class="row proposal-details-row">
      <div>Total time</div>
      <div>{{ general_proposal_info.total_requested_time }}</div>
    </div>
    <div class="row proposal-details-row">
      <div>Proprietary period</div>
      <div class="proprietary-period">
      <div>{{ general_proposal_info.proprietary_period }} months</div>
      <div><button class="button is-small">change</button></div>
    </div>
    </div>

  </div>
  <div>
    <div class="table download-and-astronomer">
      <div>
        <div class="secondary-header row">
          <div class="has-text-centered">Download</div>
        </div>
        <div class="row">
          <div><a>Download zip file</a></div>
        </div>
        <div class="row">
          <div><a>Download summary</a></div>
        </div>
      </div>
      <div>
        <div class="secondary-header row">
          <div class="has-text-centered">Responsible SALT Astronomer:</div>
        </div>
        <div class="row proposal-details-row">
          <div>
            <a>
              <!--      TODO Send email.-->
              {{ general_proposal_info.responsible_salt_astronomer.family_name }}
              {{ " " + general_proposal_info.responsible_salt_astronomer.given_name }}
            </a>
          </div>
          <div class="">
            <button class="is-pulled-right button is-small">Edit</button>
          </div>
        </div>
      </div>
    </div>
  </div>

</div>
<div class="table">
  <div class="secondary-header row">
    <div class="has-text-centered">Summary for SALT Astronomer</div>
  </div>
  <div class="notification">
    <div>
      <p
        [innerHTML]="general_proposal_info.summary_for_salt_astronomer | nl2br"
      ></p>
    </div>
  </div>
  <div class="secondary-header row">
    <div class="has-text-centered">Summary for the nightlog</div>
  </div>
  <div class="proposal-details-row notification">
    <div class="">
      <p>{{ general_proposal_info.summary_for_night_log }}</p>
    </div>
  </div>
</div>
