<table class="table is-bordered is-fullwidth">
  <thead>
    <tr class="headers">
      <th colspan="3">Slit Mask</th>
    </tr>
    <tr>
      <th>Type</th>
      <th>Barcode</th>
      <th>Slit Mask Image</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td>{{ mosSlitMask.maskType }}</td>
      <td>{{ mosSlitMask.barcode }}</td>
      <td></td>
    </tr>
    <tr>
      <td>
        <div>
          <a class="is-link">Download slit XML</a>
        </div>
        <div class="slit-image-section">
          <div><input type="checkbox" /></div>
          <div>Cut boxes for reference stars, with edge length</div>
          <div><input class="input is-small" type="text" /></div>
          <div>arcseconds.</div>
        </div>
        <div>
          <button class="button is-small">Download slit mask GCode</button>
        </div>
        <p *ngIf="cutDate">
          <b>Cut By:</b> {{ mosSlitMask.cutBy }} On
          {{ cutDate | dfnsFormat: "d MMMM yyyy" }}
        </p>
        <p *ngIf="mosSlitMask.comment">
          <b>Mask Comment:</b> {{ mosSlitMask.comment }}
        </p>
        <div><button class="button is-small">edit</button></div>
      </td>
    </tr>
  </tbody>
</table>
