<div class="table-container">
  <div class="row secondary-header">
    <div class="has-text-centered">Slit Mask</div>
  </div>
  <div class="row headers slit-three-columns">
    <div>Type</div>
    <div>Barcode</div>
    <div>Slit Mask Image</div>
  </div>
  <div class="row slit-four-columns">
    <div>{{ mosSlitMask.maskType }}</div>
    <div>{{ mosSlitMask.barcode }}</div>
    <div>n/a</div>
    <div>
      <div><a class="is-link">Download slit XML</a></div>
      <div class="slit-image-section">
        <div><input type="checkbox" /></div>
        <div>Cut boxes for reference stars, with edge length</div>
        <div><input class="input is-small" type="text" /></div>
        <div>arcseconds.</div>
      </div>

      <div>
        <button class="button is-small">Download slit mask GCode</button>
      </div>
      <p *ngIf="cutDate">
        <b>Cut By:</b> {{ mosSlitMask.cutBy }} On
        {{ cutDate | dfnsFormat: "d MMMM yyyy" }}
      </p>
      <p *ngIf="mosSlitMask.comment">
        <b>Mask Comment:</b> {{ mosSlitMask.comment }}
      </p>
      <div><button class="button is-small">edit</button></div>
    </div>
  </div>
</div>
