<table
  class="table is-bordered is-fullwidth"
  *ngIf="generalInfo.isTargetOfOpportunity"
>
  <thead>
    <tr class="headers">
      <th>Target of Opportunity Proposal</th>
    </tr>
    <tr class="secondary-header">Reason for ToO flag</tr>
  </thead>
  <tbody>
    <tr class="comment-section" >
      <td colspan="4">{{ generalInfo.targetOfOpportunityReason }}</td>
    </tr>
  </tbody>
</table>
<table class="table is-bordered is-fullwidth" *ngIf="isUsedForThesis">
  <thead>
    <tr class="headers has-text-centered">
      <th *ngIf="thesisStudents.length === 1" colspan="4">Thesis Proposal</th>
      <th *ngIf="thesisStudents.length > 1" colspan="4">Theses Proposal</th>
    </tr>
    <tr class="comment-section">
      <th colspan="4">
        This proposal will be used for {{ thesisStudents.length }} post-graduate
        {{ thesisStudents.length === 1 ? 'theses' : 'thesis' }}.
      </th>
    </tr>
    <tr class="secondary-header">
      <th>Student's Name</th>
      <th>Thesis Type</th>
      <th>Year of completion</th>
      <th>Importance and contribution to the thesis</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let s of thesisStudents">
      <td>{{ s.givenName + " " + s.familyName }}</td>
      <td>{{ s.thesis?.thesisType }}</td>
      <td>{{ s.thesis?.yearOfCompletion }}</td>
      <td>{{ s.thesis?.relevanceOfProposal }}</td>
    </tr>
  </tbody>
</table>
