<div class="table">
  <div class="row secondary-header">
    <div class="has-text-centered">Configuration</div>
  </div>
  <div class="row headers configuration">
    <div>Mode</div>
    <div>Exposure Type</div>
    <div>Iodine Cell</div>
    <div>Nod Interval</div>
    <div>Nod Count</div>
    <div>Target Location</div>
    <div>Fibre Separation</div>
  </div>
  <div class="row  configuration">
    <div>{{hrsConfig.mode}}</div>
    <div>{{hrsConfig.exposureType}}</div>
    <div>{{hrsConfig.iodineCellPosition}}</div>
    <div>{{hrsConfig.nodAndShuffle.nodInterval}}</div>
    <div>{{hrsConfig.nodAndShuffle.nodCount}}</div>
    <div>{{hrsConfig.targetLocation}}</div>
    <div>{{hrsConfig.fibreSeparation}}</div>
  </div>
</div>
