<div *ngIf="spectroscopy">
  <table class="table">
    <tr class="secondary-header">
      <th colspan="4" class="has-text-centered">Spectroscopy</th>
    </tr>
    <tr>
      <th>Filter</th>
      <td colspan="3">{{ filter }}</td>
    </tr>
    <tr class="double-boarder">
      <th>Grating</th>
      <td>{{ spectroscopy.grating }}</td>
      <th>Grating angle</th>
      <td>{{ spectroscopy.gratingAngle }}&#176;</td>
    </tr>
    <tr class="double-boarder">
      <th>Camera station</th>
      <td>{{ spectroscopy.cameraStation }}</td>
      <th>Camera angle</th>
      <td>{{ spectroscopy.cameraAngle }}&#176;</td>
    </tr>
  </table>
</div>
