<table *ngIf="spectroscopy" class="table is-bordered is-fullwidth">
  <thead>
    <tr class="headers">
      <th colspan="5" class="has-text-centered">Spectroscopy</th>
    </tr>
    <tr class="secondary-header">
      <th>Filter</th>
      <th>Grating</th>
      <th>Grating angle</th>
      <th>Camera station</th>
      <th>Camera angle</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td>{{ filter }}</td>
      <td>{{ spectroscopy.grating }}</td>
      <td>{{ spectroscopy.gratingAngle | number: "1.2-2" }}&#176;</td>
      <td>{{ spectroscopy.cameraStation }}</td>
      <td>{{ spectroscopy.cameraAngle | number: "1.2-2" }}&#176;</td>
    </tr>
  </tbody>
</table>
