<div class="table alternate-background">
  <div class="row secondary-header"><div class="has-text-centered">General</div></div>
  <div class="row has-two-columns">
    <div>MinSN</div><div>{{configuration.minSN}}</div>
  </div>
  <div class="row has-two-columns">
    <div>Cycles</div><div>{{configuration.cycles}}</div>
  </div>
  <div class="row has-two-columns">
    <div>Total Exp. Time</div><div>{{configuration.totalExposureTime}} sec</div>
  </div>
  <div class="row has-two-columns">
    <div>Overhead</div><div>{{configuration.overhead}} sec</div>
  </div>
  <div class="row has-two-columns">
    <div>Charged</div><div>{{configuration.chargedTime}} sec</div>
  </div>
</div>
