/* You can add global styles to this file, and also import other style files */

@import "./node_modules/bulma/bulma.sass";

$light-strip: #eeeeee;
$dark-strip: #dddddd;
$secondary-header: #666;
$primary-header: #209cee;

body {
  font-family: "Helvetica Neue", sans-serif;
}

.row > div {
  text-align: left;
  padding: 0.5em;
}

.alternate-background > div:nth-child(odd) {
  background: $dark-strip;
}

.table {
  display: grid;
  grid-template-columns: 1fr;
  grid-row-gap: 0.07em;
}
.table > div {
  background: $light-strip;
}
.headers > div {
  background: $primary-header;
  color: white;
  text-align: left;
  font-weight: bolder;
  font-size: 1.1rem;
  padding: 0.2em;
  height: 100%;
}

svg-icon.icon {
  display: block;
}
