<wm-modal
  [title]="modalTitle"
  [loading]="loading"
  [isModalActive]="isModalActive"
  [error]="submissionError"
  (closeModal)="closeModal()"
  (submitContent)="submitBlockStatus()"
  data-test="block-status-modal"
>
  <div [formGroup]="editBlockStatusForm" (ngSubmit)="submitBlockStatus()">
    <div class="form-group input-section">
      <label class="label">Block status</label>
      <select
        #status
        (ngModelChange)="clearError()"
        formControlName="blockStatus"
        data-test="block-status-value"
      >
        <option selected="selected" disabled="disabled" value="null">
          Please select a status
        </option>
        <option value="Active">Active</option>
        <option value="On hold">On hold</option>
      </select>
      <div
        *ngIf="f.blockStatus.touched && f.blockStatus.value === null"
        class="invalid-feedback"
      >
        <div class="has-text-danger" data-test="error">
          The block status is required
        </div>
      </div>
    </div>
    <div class="form-group input-section">
      <label class="label">Block status reason</label>
      <input
        (ngModelChange)="clearError()"
        type="text"
        formControlName="statusReason"
        class="input"
        data-test="block-status-reason"
      />
    </div>
  </div>
</wm-modal>
