.observing-windows {
  display: grid;
  grid-template-columns: 2fr 2fr repeat(2, 1fr);
  align-items: center;
}

.observing-windows-container {
  display: grid;
  grid-template-columns: 60% 1fr;
  align-items: center;
}
