<div>
  <table class="table  is-bordered is-fullwidth">
    <thead>
      <tr class="headers">
        <th colspan="2">General</th>
        <th colspan="3">Observation Time</th>
      </tr>
      <tr class="secondary-header">
        <th>MinSN</th>
        <th>Cycles</th>
        <th>Shutter open time</th>
        <th>Overhead</th>
        <th>Charged</th>
      </tr>
    </thead>

    <tbody>
      <tr>
        <td></td>
        <td class="has-text-right">{{ salticam.procedure.cycles }}</td>
        <td class="has-text-right">
          {{ salticam.observationTime - salticam.overheadTime | number: "1.2-2" }} sec
        </td>
        <td class="has-text-right">
          {{ salticam.overheadTime | number: "1.2-2" }} sec
        </td>
        <td class="has-text-right">
          {{ salticam.observationTime | number: "1.2-2" }} sec
        </td>
      </tr>
    </tbody>
  </table>
</div>
