<div class="table alternate-background">
  <div class="row secondary-header">
    <div class="has-text-centered">Detector</div>
  </div>
  <div class="row has-two-columns">
    <div>Iterations</div><div>{{salticam.salticamDetector.iterations}}</div>
  </div>
  <div class="row has-two-columns">
    <div>RoSpeed</div><div>{{salticam.salticamDetector.readoutSpeed}}</div>
  </div>
  <div class="row has-two-columns">
    <div>Gain	</div><div>{{salticam.salticamDetector.gain}}</div>
  </div>
  <div class="row has-two-columns">
    <div>Mode</div><div>{{salticam.salticamDetector.detMode}}</div>
  </div>
  <div class="row has-two-columns">
    <div>Binning</div><div>{{salticam.salticamDetector.preBinRows}} x {{salticam.salticamDetector.preBinCols}}</div>
  </div>

</div>
