/* You can add global styles to this file, and also import other style files */

$primary: #00667d;
$success: #27e8a7;
$danger: #df4576;
$warning: #ccaa00;
$link: #0e0eee;
$white: #f2f6fa;
$size-6: 0.8rem;

@import "./node_modules/bulma/bulma.sass";

$light-strip: #efefef;
$dark-strip: #dedede;
$secondary-header: #7390aa;
$tertiary-header: #91b4d5;
$primary-header: #506477;
$proposal-color: #5aeafa;
$block-color: #fa5a5a;
$observation-color: #5afa87;
$target-color: #f5b642;
$telescope-configuration-color: #4f45a8;
$blocks-color: #4f45a8;
$pool-color: #fa5afa;
$investigators-color: #e7fa5a;
$proposal-comment-color: #5afa87;
$proposal-summary-color: #f5b642;
$error-background-color: #ffb0b0;
$success-background-color: #b0ffb0;
$table-border-color: #aaaaaa;
$hrs-color: #9309ce;
$bvit-color: #d44f12;
$salticam-color: #0c5fc4;

body {
  font-family: "Helvetica Neue", sans-serif;
  font-size: 0.8rem;
}

.row > div {
  text-align: left;
  padding: 0.5em;
}

.alternate-background > div:nth-child(odd) {
  background: $dark-strip;
}

.table {
  display: grid;
  grid-template-columns: 1fr;
  grid-row-gap: 0.07em;
  border: 1px solid $table-border-color;
  background-color: $table-border-color; /* This serves as a border color, as the
                                             background is visible in the row gaps. */
}
.table > div {
  background: $light-strip;
}
.headers > div {
  background: $primary-header;
  color: white;
  text-align: left;
  font-weight: bolder;
  font-size: 0.85rem;
  height: 100%;
}
.secondary-header > div {
  background: $secondary-header;
  color: white;
  text-align: left;
  font-weight: bolder;
  font-size: 0.85rem;
  height: 100%;
}

.is-overlay {
  background: rgba(0, 0, 0, 0.1);
  cursor: not-allowed;
}

.is-blurred {
  filter: blur(2px);
}

html,
body {
  height: 100%;
}
body {
  font-family: Roboto, "Helvetica Neue", sans-serif;
  line-height: 1.2;
}
html {
  background-image: url("assets/background.png");
}

.proposal-header {
  background-color: $proposal-color;
}
.block-header {
  background-color: $block-color;
}
.observation-header {
  background-color: $observation-color;
}
.target-header {
  background-color: $target-color;
}
.telescope-configuration-header {
  background-color: $telescope-configuration-color;
}
.blocks-header {
  background-color: $blocks-color;
}
.pool-header {
  background-color: $pool-color;
}

.summary-header {
  background-color: $proposal-comment-color;
}

.comment-header {
  background-color: $proposal-summary-color;
}
.investigators-header {
  background-color: $investigators-color;
}
.salticam-header {
  background-color: $salticam-color;
}
.heading-line {
  height: 1rem;
  margin-top: -1.5rem;
  opacity: 0.8;
  filter: blur(2px);
  border-radius: 0.5rem;
  width: 105%;
  margin-left: -1.5%;
  margin-right: 3.5%;
}
.header-icon {
  margin-top: -0.39em;
  height: 4rem;
  width: 4rem;
  position: absolute;
}
.title {
  margin-top: 2.5rem;
}
.is-green-background {
  background: $success-background-color;
}
.is-red-background {
  background-color: $error-background-color;
}

.has-two-columns {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
}
.has-three-columns {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
}
$rss-header-config-color: #ff0000;
$rss-science-config-color: #ff9696;
$rss-calibration-config-color: #660000;
$hrs-header-config-color: #00ff00;
$hrs-science-config-color: #96ffce;
$hrs-calibration-config-color: #006600;
$scam-header-config-color: #0000ff;
$scam-science-config-color: #9696ff;
$scam-calibration-config-color: #000066;
$scam-acquisition-config-color: #5f8ba3;
$bvit-header-config-color: #cccccc;
$bvit-science-config-color: #aaaaaa;
$bvit-calibration-config-color: #999999;

.rss-header-config-color {
  background-color: $rss-header-config-color;
}
.rss-science-config-color {
  background-color: $rss-science-config-color;
}
.rss-calibration-config-color {
  background-color: $rss-calibration-config-color;
}
.rss-acquisition-config-color {
  background-color: $scam-acquisition-config-color;
}
.hrs-header-config-color {
  background-color: $hrs-header-config-color;
}
.hrs-science-config-color {
  background-color: $hrs-science-config-color;
}
.hrs-calibration-config-color {
  background-color: $hrs-calibration-config-color;
}
.hrs-acquisition-config-color {
  background-color: $scam-acquisition-config-color;
}
.salticam-header-config-color {
  background-color: $scam-header-config-color;
}
.salticam-science-config-color {
  background-color: $scam-science-config-color;
}
.salticam-calibration-config-color {
  background-color: $scam-calibration-config-color;
}
.salticam-acquisition-config-color {
  background-color: $scam-acquisition-config-color;
}
.bvit-header-config-color {
  background-color: $bvit-header-config-color;
}
.bvit-science-config-color {
  background-color: $bvit-science-config-color;
}
.bvit-calibration-config-color {
  background-color: $bvit-calibration-config-color;
}
.bvit-acquisition-config-color {
  background-color: $scam-acquisition-config-color;
}

.has-three-columns {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
}

.has-right-border > div {
  border-right: 1px solid $table-border-color;
}

.has-three-columns {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
}

.bvit-header {
  background-color: $bvit-color;
}

.hrs-header {
  background-color: $hrs-color;
}

.invalid-feedback {
  width: 100%;
  margin-top: 0.25rem;
  font-size: 80%;
  color: $danger;
}

.input {
  margin-bottom: 0.5em;
}
