<div>
  <table class="table">
    <tr class="secondary-header">
      <th colspan="2" class="has-text-centered">Detector</th>
    </tr>
    <tr>
      <th>Iterations</th>
      <td>{{ detector.iterations }}</td>
    </tr>
    <tr>
      <th>RoSpeed</th>
      <td>{{ detector.readoutSpeed }}</td>
    </tr>
    <tr>
      <th>Gain</th>
      <td>{{ detector.gain }}</td>
    </tr>
    <tr>
      <th>Mode</th>
      <td>{{ detector.mode }}</td>
    </tr>
    <tr>
      <th>Binning</th>
      <td>{{ detector.preBinnedRows }} x {{ detector.preBinnedColumns }}</td>
    </tr>
  </table>
</div>
