<div class="grid-table alternate-background">
  <div class="row secondary-header">
    <div class="has-text-centered">Detector</div>
  </div>
  <div class="row has-two-columns">
    <div>Iterations</div>
    <div>{{ detector.iterations }}</div>
  </div>
  <div class="row has-two-columns">
    <div>RoSpeed</div>
    <div>{{ detector.readoutSpeed }}</div>
  </div>
  <div class="row has-two-columns">
    <div>Gain</div>
    <div>{{ detector.gain }}</div>
  </div>
  <div class="row has-two-columns">
    <div>Mode</div>
    <div>{{ detector.mode }}</div>
  </div>
  <div class="row has-two-columns">
    <div>Binning</div>
    <div>{{ detector.preBinnedRows }} x {{ detector.preBinnedColumns }}</div>
  </div>
</div>
