<table class="table is-fullwidth is-bordered">
  <thead>
    <tr class="headers">
      <th colspan="5" class="has-text-centered">Detector</th>
    </tr>
    <tr class="secondary-header">
      <th>Iterations</th>
      <th>RoSpeed</th>
      <th>Gain</th>
      <th>Mode</th>
      <th>Binning(rows X cols)</th>
    </tr>
  </thead>
  <tbody>
   <tr>
     <td>{{ detector.iterations }}</td>
     <td>{{ detector.readoutSpeed }}</td>
     <td>{{ detector.gain }}</td>
     <td>{{ detector.mode }}</td>
     <td>{{ detector.preBinnedRows }} x {{ detector.preBinnedColumns }}</td>
   </tr>
  </tbody>
</table>
