<div>
  <table class="table">
    <thead>
      <tr>
        <th>Priority</th>
        <th>Comments</th>
        <th>Edit</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td>{{ priority }}</td>
        <td>
          <p [innerHTML]="comment | nl2br"></p>
        </td>
        <!--      TODO comments to discuss  -->
        <td class="has-text-centered">
          <button class="button">Edit block</button>
        </td>
      </tr>
<!--      TODO This text shouldn't be static-->
    <tr><td colspan="3">The block was last submitted with major changes on n/a.</td></tr>
    </tbody>
  </table>
</div>
