select,
input {
  width: 500px;
  background-color: white;
}

.select {
  margin-bottom: 0.5rem;
}

textarea {
  width: 500px;
  height: 150px;
  resize: vertical;
}

.loading-spinner {
  position: relative;
}

.partners-loading {
  padding-bottom: 2px;
  margin-top: -15px;
  margin-left: -320px;
}

.user-statistics {
  margin-bottom: 1em;
}

.invalid-feedback {
  margin-top: 0;
  margin-bottom: 0.4rem;
}
