<h2 class="title is-3">
  {{ instrument }} {{ payloadConfiguration.payloadConfigurationType }} -
  Configuration #{{ payloadConfigurationIndex + 1 }}
</h2>
<hr class="heading-line {{ headerLine }}" />
<div class="payload-configuration-container">
  <div>
    <table class="table is-bordered">
      <thead>
        <tr class="headers">
          <th colspan="4" class="has-text-centered">
            Telescope/Payload Configuration
          </th>
        </tr>
        <tr class="secondary-header">
          <th>Guide method</th>
          <th>PA</th>
          <th>Iterations</th>
          <th>Dither</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td>{{ payloadConfiguration.guideMethod || "None" }}</td>
          <td>
            {{ telescopeConfiguration.positionAngle }}&#176;
            <strong *ngIf="telescopeConfiguration.isPositionAngleFixed"
              >(do not flip)</strong
            >
          </td>
          <td>{{ telescopeConfiguration.iterations }}</td>
          <td>{{ ditherPatternDescription }}</td>
        </tr>
      </tbody>
    </table>
  </div>

  <div *ngIf="payloadConfiguration.instruments.salticam">
    <wm-salticam
      *ngFor="let salticam of payloadConfiguration.instruments.salticam"
      [salticam]="salticam"
      [payloadConfiguration]="payloadConfiguration"
    ></wm-salticam>
  </div>

  <div *ngIf="payloadConfiguration.instruments.rss">
    <wm-rss
      *ngFor="let rss of payloadConfiguration.instruments.rss"
      [rss]="rss"
      [payloadConfiguration]="payloadConfiguration"
    ></wm-rss>
  </div>

  <div *ngIf="payloadConfiguration.instruments.hrs">
    <wm-hrs
      *ngFor="let hrs of payloadConfiguration.instruments.hrs"
      [hrs]="hrs"
      [payloadConfiguration]="payloadConfiguration"
    ></wm-hrs>
  </div>

  <div *ngIf="payloadConfiguration.instruments.bvit">
    <wm-bvit
      *ngFor="let bvit of payloadConfiguration.instruments.bvit"
      [bvit]="bvit"
      [payloadConfiguration]="payloadConfiguration"
    ></wm-bvit>
  </div>

  <div *ngIf="payloadConfiguration.instruments.nir">
    <wm-nir
      *ngFor="let nir of payloadConfiguration.instruments.nir"
      [nir]="nir"
      [payloadConfiguration]="payloadConfiguration"
    ></wm-nir>
  </div>
</div>
