<div class="right" data-test="home-page-guest">
  <img alt="SALT building" src="assets/salt_image_large.png" />
</div>
<div>
  <h1 class="title is-1">Welcome to the Web Manager</h1>

  <p>Welcome to the Web Manager of the Southern African Large Telescope.</p>
  <p>
    For preparing and submitting your proposals please use the latest version of
    the
    <a href="http://astronomers.salt.ac.za/software/#PIPT">PIPT Manager</a>
    and the
    <a href="http://astronomers.salt.ac.za/software/">other proposal tools</a>.
  </p>

  <p>
    <a routerLink="login">Login</a> with an existing account or
    <a routerLink="register">register</a> a new user now.
  </p>
</div>
