<h1 class="title is-1">Web Manager</h1>
<p></p>
<p></p>
<div class="proposal_header_left"></div>

<h2 class="title is-2">PIPT</h2>
<hr class="heading-line proposal-header" />

<p>
  For preparing and submitting your proposals please use the latest version of
  the <a href="http://astronomers.salt.ac.za/software/#PIPT">PIPT Manager</a>.
</p>

<h2 class="title is-2">Proposals</h2>
<hr class="heading-line proposal-header" />

<div class="radio-buttons">
  <label>
    <input
      type="radio"
      id="current_semester"
      value="current_semester"
      name="semester_filter"
      [checked]="semesterFilter === 'current_semester'"
      (click)="onSemesterFilterClick('current_semester')"
      data-test="current-semester"
    />
    Show proposals for the current semester
  </label>
  <label>
    <input
      type="radio"
      id="current_and_next_semester"
      value="current_and_next_semester"
      name="semester_filter"
      [checked]="semesterFilter === 'current_and_next_semester'"
      (click)="onSemesterFilterClick('current_and_next_semester')"
      data-test="current-and-next-semester"
    />
    Show proposals for the current and next semester
  </label>
  <label>
    <input
      type="radio"
      id="semester_range"
      name="semester_filter"
      [checked]="semesterFilter === 'semester_range'"
      (click)="onSemesterFilterClick('semester_range')"
      data-test="semester-range"
    />
    Show proposals from Semester
    <input
      type="text"
      id="start_semester"
      [value]="startSemesterValue"
      placeholder="yyyy-s"
      data-test="start-semester"
      [(ngModel)]="startSemesterValue"
      [disabled]="semesterFilter !== 'semester_range'"
    />
    to Semester
    <input
      type="text"
      id="end_semester"
      [value]="endSemesterValue"
      placeholder="yyyy-s"
      data-test="end-semester"
      [(ngModel)]="endSemesterValue"
      [disabled]="semesterFilter !== 'semester_range'"
    />
    <input
      type="button"
      id="apply"
      value="Apply"
      (click)="applySemesterRangeFilter()"
      [disabled]="semesterFilter !== 'semester_range'"
      data-test="apply"
    />
    <div *ngIf="!isValidSemester" class="invalid-feedback">
      <div class="has-text-danger" data-test="semester-error">
        {{ semesterErrorMessage }}
      </div>
    </div>
  </label>
  <label>
    <input
      type="radio"
      id="single_semester"
      value="single_semester"
      name="semester_filter"
      [checked]="semesterFilter === 'single_semester'"
      (click)="onSemesterFilterClick('single_semester')"
      data-test="single-semester"
    />
    Show proposals for the selected semester
    <select
      id="semester"
      (change)="onSemesterSelect($event)"
      [disabled]="semesterFilter !== 'single_semester'"
      data-test="select-semester"
    >
      <option
        *ngFor="let semester of availableSemesters; index as i"
        [value]="i"
        [selected]="semester === selectedSemester"
      >
        {{ semester }}
      </option>
    </select>
  </label>
</div>
<br />
Show
<div class="checkboxes">
  <label for="requiring_attention"
    ><input
      type="checkbox"
      id="requiring_attention"
      [checked]="filterProposalsBy['requiring_attention'] === 'true'"
      (click)="filterProposals('requiring_attention')"
      data-test="requiring-attention"
    />
    only proposals requiring your attention
  </label>
  <label for="unchecked"
    ><input
      type="checkbox"
      id="unchecked"
      [checked]="filterProposalsBy['unchecked'] === 'true'"
      (click)="filterProposals('unchecked')"
      data-test="unchecked"
    />
    only unchecked proposals
  </label>
  <label for="unassigned"
    ><input
      type="checkbox"
      id="unassigned"
      [checked]="filterProposalsBy['unassigned'] === 'true'"
      (click)="filterProposals('unassigned')"
      data-test="unassigned"
    />
    only unassigned proposals
  </label>
  <label for="active"
    ><input
      type="checkbox"
      id="active"
      [checked]="filterProposalsBy['acive'] === 'true'"
      (click)="filterProposals('active')"
      data-test="active"
    />
    only active proposals
  </label>
  <label for="completed"
    ><input
      type="checkbox"
      id="completed"
      [checked]="filterProposalsBy['completed'] === 'true'"
      (click)="filterProposals('completed')"
      data-test="completed"
    />
    only completed proposals
  </label>
  <label for="science"
    ><input
      type="checkbox"
      id="science"
      [checked]="filterProposalsBy['science'] === 'true'"
      (click)="filterProposals('science')"
      data-test="science"
    />
    only science proposals
  </label>
  <label for="ddt"
    ><input
      type="checkbox"
      id="ddt"
      [checked]="filterProposalsBy['ddt'] === 'true'"
      (click)="filterProposals('ddt')"
      data-test="ddt"
    />
    only director's discretionary time
  </label>
  <label for="rejected_completed_expired"
    ><input
      type="checkbox"
      id="rejected_completed_expired"
      [checked]="filterProposalsBy['rejected_completed_expired'] === 'true'"
      (click)="filterProposals('rejected_completed_expired')"
      data-test="rejected-completed-expired"
    />
    only rejected, completed and expired proposals
  </label>
  <label for="my_proposals"
    ><input
      type="checkbox"
      id="my_proposals"
      [checked]="filterProposalsBy['my_proposals'] === 'true'"
      (click)="filterProposals('my_proposals')"
      data-test="my-proposals"
    />
    only your proposals
  </label>
  <label for="phase1"
    ><input
      type="checkbox"
      id="phase1"
      [checked]="filterProposalsBy['phase1'] === 'true'"
      (click)="filterProposals('phase1')"
      data-test="phase1"
    />
    only phase 1 proposals
  </label>
  <label for="phase2"
    ><input
      type="checkbox"
      id="phase2"
      [checked]="filterProposalsBy['phase2'] === 'true'"
      (click)="filterProposals('phase2')"
      data-test="phase2"
    />
    only phase 2 proposals
  </label>
  <label for="commissioning"
    ><input
      type="checkbox"
      id="commissioning"
      [checked]="filterProposalsBy['commissioning'] === 'true'"
      (click)="filterProposals('commissioning')"
      data-test="commissioning"
    />
    only commissioning proposals
  </label>
</div>
<br /><br />
<br /><br />
<br /><br />
<br /><br />
<br /><br />
<br /><br />
<div class="table alternate-background"></div>

<table class="table">
  <thead>
    <tr class="secondary-header">
      <th [wmSort]="filteredProposals" data-name="id">Proposal ID</th>
      <th
        [wmSort]="filteredProposals"
        data-name="proposalCode"
        class="proposal-code-column"
      >
        Proposal Code
      </th>
      <th [wmSort]="filteredProposals" data-name="title">Title</th>
      <th [wmSort]="filteredProposals" data-name="semester">Semester</th>
      <th [wmSort]="filteredProposals" data-name="phase">Phase</th>
      <th [wmSort]="filteredProposals" data-name="status.value">
        Proposal Status
      </th>
      <th>Proposal Status Reason</th>
      <th [wmSort]="filteredProposals" data-name="proposalType">
        Proposal Type
      </th>
      <th>PI</th>
      <th [wmSort]="filteredProposals" data-name="liaisonAstronomer.givenName">
        Astronomer
      </th>
    </tr>
  </thead>
  <tbody>
    <ng-container *ngFor="let proposal of filteredProposals">
      <tr data-test="proposal-row" [ngClass]="proposalRowClass(proposal)">
        <td>{{ proposal.id }}</td>
        <td>
          <a [routerLink]="['/proposal', proposal.proposalCode]">
            {{ proposal.proposalCode }}
          </a>
        </td>
        <td>{{ proposal.title }}</td>
        <td data-test="proposal-semester">{{ proposal.semester }}</td>
        <td data-test="phase">{{ proposal.phase }}</td>
        <td data-test="proposal-status">{{ proposal.status.value }}</td>
        <td>{{ proposal.status.reason }}</td>
        <td data-test="proposal-type">{{ proposal.proposalType }}</td>
        <td data-test="principal-investigator">
          {{ proposal.principalInvestigator.givenName }}
          {{ proposal.principalInvestigator.familyName }}
        </td>
        <td data-test="liaison-astronomer">
          <span *ngIf="proposal.liaisonAstronomer">{{
            proposal.liaisonAstronomer.givenName
          }}</span>
        </td>
      </tr>
    </ng-container>
  </tbody>
</table>

<div
  *ngIf="proposals && !loading; else loading_indicator"
  style="position: relative"
></div>
<ng-template #loading_indicator>
  <div class="loading-indicator">
    <wm-loading-spinner></wm-loading-spinner>
  </div>
</ng-template>

<div class="table-container legend">
  <div class="row headers">
    <div class="has-text-centered">Legend</div>
  </div>
  <div class="has-two-columns">
    <div class="pi"></div>
    <div>You are Principal Investigator</div>
  </div>
  <div class="has-two-columns">
    <div class="pc"></div>
    <div>You are Principal Contact</div>
  </div>
  <div class="has-two-columns">
    <div class="sa"></div>
    <div>You are the responsible SALT astronomer</div>
  </div>
</div>
