<div class="login-form login-page">
  <div *ngIf="!passwordUpdatedSuccessfully">
    <h2 class="title is-3">Change password</h2>
    <form [formGroup]="changePasswordForm" (ngSubmit)="changePassword()">
      <div class="form-group input-section">
        <label class="label">Enter new password</label>
        <input
          (ngModelChange)="clearError()"
          type="password"
          formControlName="password"
          class="input"
          data-test="change-password-password"
          [ngClass]="{
            'is-danger': (f.password.dirty || submitted) && f.password.errors
          }"
        />
        <div
          *ngIf="(f.password.dirty || submitted) && f.password.errors"
          class="invalid-feedback"
        >
          <div
            *ngIf="f.password.errors.required"
            class="has-text-danger"
            data-test="password-error"
          >
            This field cannot be empty
          </div>
        </div>
      </div>
      <div class="input-section">
        <div class="form-group">
          <label class="label">Enter new password again</label>
          <input
            (ngModelChange)="clearError()"
            type="password"
            formControlName="retypedPassword"
            class="input"
            data-test="change-password-retyped-password"
            [ngClass]="{
              'is-danger':
                (f.retypedPassword.dirty || submitted) && f.retypedPassword.errors
            }"
          />
          <div
            *ngIf="
              (f.retypedPassword.dirty || submitted) && f.retypedPassword.errors
            "
            class="invalid-feedback"
          >
            <div
              *ngIf="f.retypedPassword.errors.required"
              class="has-text-danger"
              data-test="retyped-password-error"
            >
              This field cannot be empty
            </div>
          </div>
        </div>
      </div>
      <div class="input-section">
        <div class="form-group">
          <button
            class="button is-primary {{ loading ? 'is-loading' : '' }}"
            data-test="submit-request"
          >
            Submit
          </button>
          <div *ngIf="error">
            <p class="has-text-danger" data-test="error">{{ error }}</p>
          </div>
        </div>
      </div>
    </form>
  </div>
  <div *ngIf="passwordUpdatedSuccessfully">
    <section class="message is-success">
      <div class="message-body">
        <p data-test="success">
          Password has been updated successfully!
        </p>
        <p>
          <a class="is-link" data-test="request-again" (click)="gotoLogin()"
          >Goto login page.</a
          >
        </p>
      </div>
    </section>
  </div>
</div>
