<div class="table alternate-background">
  <div class="row secondary-header">
    <div class="has-text-centered">General</div>
  </div>
  <div class="row has-two-columns">
    <div>n/a</div>
  </div>
  <div class="row has-two-columns">
    <div>Cycles</div>
    <div>{{ rss.procedure.cycles }}</div>
  </div>
  <div class="row has-two-columns">
    <div>Total Exp. Time</div>
    <div>{{ rss.observationTime - rss.overheadTime }} sec</div>
  </div>
  <div class="row has-two-columns">
    <div>Overhead</div>
    <div>{{ rss.overheadTime }} sec</div>
  </div>
  <div class="row has-two-columns">
    <div>Charged</div>
    <div>{{ rss.observationTime }} sec</div>
  </div>
</div>
