<div>
  <table class="table is-bordered is-fullwidth">
    <thead>
      <tr class="headers">
        <th colspan="2">General</th>
        <th colspan="3">Observation times</th>
      </tr>
      <tr class="secondary-header">
        <th>MinSN</th>
        <th>Cycles</th>
        <th>Shutter Open Time</th>
        <th>Overhead</th>
        <th>Total Observation Time</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td></td>
        <td>{{ hrs.procedure.cycles }}</td>
        <td>{{ hrs.observationTime - hrs.overheadTime }} sec</td>
        <td>{{ hrs.overheadTime }} sec</td>
        <td>{{ hrs.observationTime }} sec</td>
      </tr>
    </tbody>
  </table>
</div>
